<div block="filter">
    <div elem="head">
        <div elem="title">Подбор товара</div><!-- e:title -->
    </div><!-- e:head -->
    <form elem="form" action="">
        <div elem="items">
            <div elem="item">
                <div elem="name">Цена</div>
                <div elem="price-range" mix="block:range_slider_wrapper">
                    <div class="input_range_slider"></div>
                    <div elem="inputs-price">
                        <span elem="input"><input type="text" class="low" value="0" disabled data-min="1000"><i class="fas fa-ruble-sign"></i></span>
                        <span class="i-line"></span>
                        <span elem="input"><input type="text" class="hight" value="150000" disabled data-max="7000"><i class="fas fa-ruble-sign"></i></span>
                    </div><!-- e:inputs-range -->
                </div><!-- e:price-range -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="name">Цвет</div>
                <div elem="check-colors">
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <div elem="color">
                            <span elem="color-view" style="background-color: #000000;"></span>
                            <span elem="indication-text">черный</span>
                        </div><!-- e: -->
                    </label><!-- e:label -->
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <div elem="color">
                            <span elem="color-view" style="background-color: #6f6f6f;"></span>
                            <span elem="indication-text">темно-серый</span>
                        </div><!-- e: -->
                    </label><!-- e:label -->
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <div elem="color">
                            <span elem="color-view" style="background-color: #653f21;"></span>
                            <span elem="indication-text">коричневый</span>
                        </div><!-- e: -->
                    </label><!-- e:label -->
                </div><!-- e:colors -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="name">Выбор кейса</div>
                <div elem="check-colors">
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <span elem="indication-text">маленький</span>
                    </label><!-- e:label -->
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <span elem="indication-text">средний</span>
                    </label><!-- e:label -->
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <span elem="indication-text">большой</span>
                    </label><!-- e:label -->
                </div><!-- e:colors -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="name">Бренды</div>
                <div elem="check-colors">
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <span elem="indication-text">Beskin</span>
                    </label><!-- e:label -->
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <span elem="indication-text">Rion</span>
                    </label><!-- e:label -->
                    <label elem="label">
                        <input type="checkbox" name="" id="">
                        <span elem="indication-text">Rosin</span>
                    </label><!-- e:label -->
                </div><!-- e:colors -->
            </div><!-- e:item -->
            <div elem="bot">
                <button elem="btn" mods="reset" class="site-btn" type="reset">Сбросить</button>
                <button elem="btn" mods="submit" class="site-btn" type="submit">Применить</button>
            </div><!-- e:bot -->
        </div><!-- e:items -->
    </form><!-- e:form -->
</div><!-- b:filter -->