.filter
    background-color #fff

    @media screen and (max-width 479px)
        padding-bottom 95px

    &__head
        padding 15px 20px 20px 62px
        background-color #f9f9f9
        margin-bottom 20px

        @media screen and (max-width 1346px)
            padding-left 35px

        @media screen and (max-width 991px)
            padding-left 28px 

        @media screen and (max-width 479px)
            padding-left 16px    

    &__title
        font-size 14px
        color #000
        font-weight 500
        text-transform uppercase

    &__items
        padding-left 62px
        padding-right 29px

        @media screen and (max-width 1346px)
            padding-left 35px

        @media screen and (max-width 991px)
            padding-left 28px    

        @media screen and (max-width 479px)
            padding-left 16px    

    &__item
        margin-bottom 15px    

    &__name
        font-size 14px
        color #000
        font-weight 500
        text-transform uppercase
        margin-bottom 15px

    &__price-range

        .noUi-horizontal
            height 2px
            margin-bottom 10px

            .noUi-connect
                height 2px
                background #000

            .noUi-handle
                width 4px
                height 8px
                border-radius 0
                box-shadow none    
                background #000
                left 0
                bottom -3px

        .noUi-origin, .noUi-horizontal .noUi-origin.noUi-background
            height 2px

    &__inputs-price
        display flex
        justify-content space-between

    &__input
        display block
        width 45px
        display flex
        align-items center
        
        input 
            font-size 14px
            color #6d6d6d
            font-weight 500
            width 100%
            border none
        input[disabled]
            background-color transparent    

        .fa-ruble-sign
            font-size 14px
            color #6d6d6d      

    &__label
        display flex
        align-items center
        margin-bottom 10px
        cursor pointer

        .jq-checkbox
            width 12px
            min-width 12px
            height 12px
            min-height 12px
            border 1px solid #4f4e4e
            &.checked,
            &.hover-check
                background-color #931431
                border 1px solid #931431

                .jq-checkbox__div
                    width 8px
                    height 5px
                    border-bottom 2px solid #fff
                    border-left 2px solid #fff
                    margin 1px 0 0 1px
                    transform rotate(-50deg)

        &:hover
            & ^[0]
                &__indication-text
                    color #000            


    &__color
        display flex
        align-items center    

    &__color-view
        width 10px
        height 10px
        display block
        margin-right 5px
        border-radius 1px

    &__indication-text
        font-size 14px
        color #6d6d6d    
        font-weight 500
        line-height 1
    
    &__bot
        margin-top 30px
        display flex
        align-items center
        justify-content space-between

    &__btn
        &--reset
            color #6d6d6d
            border 1px solid #6d6d6d
            border-radius 2px
            background-color #fff
            min-width 88px
            &:hover
                color #931431
                border-color #931431
                background-color #fff 

        &--submit
            border 1px solid transparent    