<div block="social">
    <div elem="title">Поделиться:</div>
    <div elem="items">
        <a elem="item" mods="vk" href="#"><i class="fab fa-vk"></i></a><!-- e:item -->
        <a elem="item" mods="ok" href="#"><i class="fab fa-odnoklassniki"></i></a><!-- e:item -->
        <a elem="item" mods="fb" href="#"><i class="fab fa-facebook-f"></i></a><!-- e:item -->
        <a elem="item" mods="tw" href="#"><i class="fab fa-twitter"></i></a><!-- e:item -->
        <a elem="item" mods="go" href="#"><i class="fab fa-google-plus-g"></i></a><!-- e:item -->
    </div><!-- e:items -->
</div><!-- b:social -->