.social

    &__title
        font-family 12px
        font-weight 500
        color #fff
        text-transform uppercase
        margin-bottom 15px

    &__items
        display flex
        align-items center

    &__item
        font-size 14px
        color #b8b8b8
        text-decoration none         
        width 24px
        height 24px
        display flex
        align-items center
        justify-content center
        margin-right 13px
        border 1px solid #b8b8b8
        border-radius 2px
        background-color #000
        text-align center
        transition all .3s
        &--vk
            &:hover
                color #8a9eb6
                border-color #8a9eb6
                background-color #f1f1f1
        &--ok
            &:hover
                color #f2a568
                border-color #f2a568
                background-color #f1f1f1
        &--fb
            &:hover
                color #8496bc
                border-color #8496bc
                background-color #f1f1f1
        &--tw
            &:hover
                color #60c8ef
                border-color #60c8ef
                background-color #f1f1f1
        &--go
             &:hover
                color #e58d83
                border-color #e58d83
                background-color #f1f1f1