<div block="before-content-block">
    <div elem="section" class="contain">
        {% include "crumbs.html" %}
        <h1>Мужские сумки</h1>

        {% include "sorting.html" %}
    </div><!-- e:section -->
</div><!-- b:before-content-block -->