.sorting
    width 550px
    max-width 100%
    margin-left auto

    &__items
        display flex
        align-items center
        justify-content space-between

    &__item
        display flex
        align-items baseline

    &__title
        font-size 15px
        color #000    
        font-weight 600
        line-height 1

        @media screen and (max-width 480px)
            font-size 10px

    &__selection
        
        .jq-selectbox
            @media screen and (max-width 480px)     
                margin-top 3px


        .jq-selectbox.jqselect.dropdown.opened
            .jq-selectbox__trigger-arrow
                transform rotate(90deg)
                border-color transparent transparent transparent #000

        .jq-selectbox.jqselect.dropup.opened  
            .jq-selectbox__trigger-arrow  
                transform rotate(-90deg)   
                border-color transparent transparent transparent #000

        .jq-selectbox__select
            @media screen and (max-width 480px)        
                padding-right 5px

            &:active
                background none
                box-shadow none

            @media screen and (max-width 480px)        
                padding-left 5px    

        .jq-selectbox__select-text
            font-size 15px
            color #6d6d6d
            font-weight 400
            line-height 1

            @media screen and (max-width 480px)
                font-size 10px

        .jq-selectbox__trigger
            @media screen and (max-width 480px)        
                width 5px

        .jq-selectbox__trigger-arrow
            width 0
            height 0
            border-style solid
            border-width 5px 0 5px 6px
            border-color transparent transparent transparent #6d6d6d
            background none  
            margin-top 3px
            margin-left 10px
            transition transform .3s

            @media screen and (max-width 480px)
                border-width 3px 0 3px 4px

        .jq-selectbox:hover .jq-selectbox__trigger-arrow, .jq-selectbox:focus .jq-selectbox__trigger-arrow
            border-top-color transparent

        .jq-selectbox__dropdown
            width 201px !important
            background-color rgb(249, 249, 249)
            box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0, 0, 0, 0.13)
            border none 
            margin-top 10px

            li
                font-size 15px
                font-weight 500
                color #6d6d6d
                padding 10px 13px 13px 13px
                transition background-color .3s
                position relative
                &.sel,&.selected
                    color #000
                    background-color transparent
                    &:after
                        content '\f00c'
                        font-size 11px
                        font-family 'Font Awesome 5 Free'
                        color #000
                        font-weight 900
                        position absolute
                        top 10px
                        right 10px

                        @media screen and (max-width 480px)
                            top 5px
                &:hover
                    background-color #f1f1f1

                @media screen and (max-width 480px)
                    font-size 10px
                    padding 5px

        &--count-product
            .jq-selectbox__dropdown
                width 57px  !important          