<div block="sorting">
    <div elem="section">
        <form elem="form" action="">
            <div elem="items">
                <div elem="item">
                    <div elem="title">Сортировать:</div><!-- e:title -->
                    <div elem="selection">
                        <select name="" id="">
                            <option value="">По популярности</option>
                            <option value="">По возрастанию цены</option>
                            <option value="">По убыванию цены</option>
                            <option value="">По скидкам</option>
                        </select>
                    </div><!-- e:selection -->
                </div><!-- e:item -->
                <div elem="item">
                    <div elem="title">Выводить по:</div><!-- e:title -->
                    <div elem="selection" mods="count-product">
                        <select name="" id="">
                            <option value="">20</option>
                            <option value="">36</option>
                            <option value="">60</option>
                        </select>
                    </div><!-- e:selection -->
                </div><!-- e:item -->
            </div><!-- e:items -->
        </form><!-- e:form -->
    </div><!-- e:section -->
</div><!-- b:sorting -->