<div block="product-list">
    <div elem="section">
        {% include "lot.html" %}
        {% include "lot.html" %}
        {% include "lot.html" %}
        {% include "lot.html" %}
        {% include "lot.html" %}
        {% include "lot.html" %}
        {% include "lot.html" %}
        {% include "lot.html" %}
    </div><!-- e:section -->
</div><!-- b:product-list -->