<header block="app-header" mix="block:mt-4">
    <div elem="section">
        <div elem="top-line" class="page-indent">
            <div elem="items" class="contain">
                <div elem="item" mods="logo">
                    {% include "logo.html" %}
                </div><!-- e:item -->
                <div elem="deliv-reg">
                    {% include "delivery-region.html" %}
                </div><!-- e:item -->
                <div elem="search">
                    {% include "search.html" %}
                </div><!-- e:item -->
                <div elem="contacts">
                    {% include "contacts.html" %}
                </div><!-- e:item -->
            </div><!-- e:items -->
        </div><!-- e:top-line -->

        <div elem="middle-line" class="page-indent">
            <div elem="inner" class="contain">

                <div elem="info-shop" >
                    {% include "links-shop.html" %}

                    <div block="contacts-mobile">
                        <div elem="icon"><i class="fas fa-phone"></i></div><!-- e:icon -->
                        <div elem="body"></div><!-- e:body -->
                    </div><!-- b:contacts-mobile -->

                </div><!-- e:items -->
            
                <div elem="for-user">
                    {% include "personal-account.html" %}
                </div><!-- e:for-user -->
                
                <div elem="for-preview">
                    {% include "added-preview.html" %}
                </div><!-- e:for-cart -->
                
            </div><!-- e:inner -->
        </div><!-- e:middle-line -->

        <div elem="bot-line" class="page-indent">
            <div elem="for-nav" class="contain">
                <div elem="btn-burger">
                    <span class="open-icon-burger"><i class="fas fa-bars"></i></span>
                    <span class="close-icon-burger"><i class="fas fa-times"></i></i></span>
                    <span class="title-burger">меню</span>
                </div><!-- e:btn-burger -->
                {% include "main-nav.html" %}
                {% include "sale.html" %}
            </div><!-- e:for-nav -->
            
            <div block="mobile-menu"></div><!-- b:mobile-menu -->

            <div elem="for-filter-mob">
                <div elem="for-filter-mob-btn"></div>
                <div block="filter-mob">
                    <div elem="section">
                        <div elem="btn"></div>
                        <div elem="body"></div>
                    </div><!-- e:section -->
                </div><!-- b:filter-mob -->
            </div><!-- e:for-filter-mob -->
        
        </div><!-- e:bot-line -->

        {% include "advantages.html" %}

    </div><!-- e:section -->
</header><!-- b:app-header -->
