.app-header
    flex none

    &__top-line
        padding-top 13px
        padding-bottom 8px
        background #f9f9f9

    &__deliv-reg
        @media screen and (min-width 1580px)
            margin-left auto
        
        @media screen and (max-width 479px)
            display flex
            flex-direction column
            align-items flex-end
            order 1

    &__search
        @media screen and (min-width 1480px)
            margin-left 110px    
        
    &__items
        display flex
        align-items center
        justify-content space-between
    
    &__middle-line
        background-color #f1f1f1

    &__inner
        display flex
        align-items center    

    &__info-shop
        display flex
        align-items center
        padding-top 10px
        padding-bottom 10px

    &__for-user
        display flex
        align-items center
        margin-left auto

        .search
            margin-right 50px   

    &__for-preview
        margin-left 25px
        @media screen and (min-width 1347px)
            margin-left 50px

        @media screen and (max-width 375px)
            margin-left 40px    

    &__bot-line
        background-color #000
        position relative

    &__for-nav
        display flex
        align-items center
        justify-content space-between
        padding-top 12px
        padding-bottom 13px

    &__btn-burger
        font-size 13px
        color #fff
        font-weight 500
        text-transform uppercase
        line-height 1
        display none

        .open-icon-burger
            width 12px
            height 10px
            
            &.open-active
                display none

        .close-icon-burger
            width 12px
            height 10px
            display none

            &.close-active        
                display block

        .title-burger
            padding-top 4px
            margin-left 15px

        @media screen and (max-width 991px)
            display flex
            align-items center

    &__for-filter-mob-btn
        width 16px
        height 43px
        background-color #931431
        position fixed
        top 220px
        left 0
        z-index 20
        cursor pointer
        display none
        transition left .4s
        &:before
            content ''
            position absolute
            width 2px
            height 31px
            background-color #fff
            top 5px
            left 8px

        @media screen and (max-width 479px)    
            display block

        &.open-filter
            left 256px 
            background-color #f1f1f1
            box-shadow inset 3px -1px 6.51px 0.49px rgba(0,0,0,0.13)

.mobile-menu
    width 267px
    height 100vh
    overflow auto
    position absolute
    top 54px
    left -275px
    z-index 100
    padding-bottom 95px
    background-color #fff
    box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0, 0, 0, 0.13)
    transition left .4s
    &.show-menu
        left 0

.contacts-mobile
    display none
    position relative
    
    @media screen and (max-width 479px)    
        display block

    &__icon

        .fa-phone
            font-size 13px    
    
    &__body
        position absolute
        top 38px
        left 0
        width 200px
        text-align center
        padding 10px
        background-color #f9f9f9
        box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13)
        z-index -1
        opacity 0
        transition opacity .3s

        &.show-contacts
            opacity 1
            z-index 15

.filter-mob
    width 256px
    height 100%
    position fixed
    overflow auto
    top 0
    left -275px
    background-color #fff
    box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13)
    transition left .4s
    z-index 20
    &.show-filter
        left 0

    &__section
        position relative

    &__body
        background-color #fff 
        