<div block="main-nav">
    <nav elem="menu">
        <ul elem="items">
            <li><a href="#">Мужские сумки</a></li>
            <li><a href="#">Женские сумки</a></li>
            <li><a href="#">Спортивные сумки</a></li>
            <li><a href="#">рюкзаки</a></li>
            <li><a href="#">для путешествий</a>
                <div block="sub-menu">
                    <div elem="items">
                        <div elem="item">
                            <ul class="sub-menu-level-1">
                                <li><a href="#" class="active-sub-menu">Дорожные сумки (345)</a>
                                    <ul class="sub-menu-level-2">
                                        <li><a href="#">Для женщин (181)</a></li>
                                        <li><a href="#">Для мужчин (59)</a></li>
                                        <li><a href="#">На колесах (153)</a></li>
                                        <li><a href="#">Кожаный багаж (15)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Чемоданы (345)</a></li>
                                <li><a href="#">Пилот-кейсы (45)</a></li>
                                <li><a href="#">Хиты продаж (65)</a></li>
                            </ul>
                        </div><!-- e:item -->
                        <div elem="item">
                            <ul class="sub-menu-level-1">
                                <li><a href="#">Дорожные сумки (345)</a>
                                    <ul class="sub-menu-level-2">
                                        <li><a href="#">Для женщин (181)</a></li>
                                        <li><a href="#">Для мужчин (59)</a></li>
                                        <li><a href="#">На колесах (153)</a></li>
                                        <li><a href="#">Кожаный багаж (15)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Чемоданы (345)</a></li>
                                <li><a href="#">Пилот-кейсы (45)</a></li>
                                <li><a href="#">Хиты продаж (65)</a></li>
                            </ul>
                        </div><!-- e:item -->
                    </div><!-- e:items -->
                    <div elem="product">
                        <div block="lot-mini">
                            <form elem="form" action="">
                                <div elem="body">
                                    <div elem="top">
                                        <div elem="head">
                                            <div elem="flags">
                                                <div elem="flag" mods="hit">Hit</div>
                                                <div elem="flag" mods="new">new</div>
                                                <div elem="flag" mods="sale">-10%</div>
                                            </div><!-- e:flags -->
                                            {# <div elem="favorites-compare">
                                                <div elem="compare">
                                                    <input type="checkbox" name="" id="">
                                                </div><!-- e: -->
                                                <div elem="favorites">
                                                    <input type="checkbox" name="" id="">
                                                </div><!-- e: -->
                                            </div><!-- e:favorites-compare --> #}
                                        </div><!-- e:head -->
                                        <a elem="product-img" href="#"><span elem="img"><img src="img/lot-img.jpg" alt=""></span></a>
                                        <a elem="product-name" class="hover-link" href="#">Сумка на плечо с креплением на ремень POLA 4221 Brown</a>
                                    </div><!-- e:top -->
                                    <div elem="bot">
                                        {# <div elem="options">
                                            <div elem="option">27 х 34 х 15(17)см</div>
                                            <div elem="option" mods="mod">Ручная кладь<i class="fas fa-plane"></i></div>
                                            <div elem="option">1,2 кг</div>
                                            <div elem="option" mods="mod"><a elem="link-photo" class="hover-link" href="#">6 фото <i class="fas fa-expand-arrows-alt"></i></a></div>
                                            <div elem="option">Полиэстер</div>
                                        </div><!-- e:options --> #}
                                        <div elem="price-to-cart">
                                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                                            <button elem="cart-btn" type="submit">Подробнее</button>
                                        </div><!-- e:price -->
                                    </div><!-- e:bot -->
                                </div><!-- e:body -->
                                {# <div elem="colors">
                                    <div elem="color"><span style="background-color: #6f6f6f;"></span></div><!-- e:color -->
                                    <div elem="color"><span style="background-color: #2579bf;"></span></div><!-- e:color -->
                                    <div elem="color"><span style="background-color: #9dd298;"></span></div><!-- e:color -->
                                    <div elem="color"><span style="background-color: #8e58a3;"></span></div><!-- e:color -->
                                    <div elem="color"><span style="background-color: #fff794;"></span></div><!-- e:color -->
                                    <div elem="color"><span style="background-color: #000000;"></span></div><!-- e:color -->
                                </div><!-- e:colors --> #}
                            </form><!-- e:form -->
                        </div><!-- b:lot -->
                    </div><!-- e:product -->
                </div><!-- b:sub-menu -->
            </li>
            <li><a href="#">для школы</a></li>
            <li><a href="#">бренды</a></li>
        </ul>
    </nav><!-- e:menu -->
</div><!-- b:main-nav -->