.main-nav

    @media screen and (max-width: 1346px)
        width 100%
        
    &__items
        display flex
        align-items center
        justify-content space-between
        flex-wrap wrap

        > li
            margin-right 42px
            font-size 0
            padding-top 5px
            padding-bottom 5px
            position relative
            border-bottom 1px solid transparent
            transition border-bottom .3s
            &:hover
                border-bottom 1px solid rgba(255, 255, 255, .7)

                .sub-menu
                    opacity 1
                    visibility visible


            &:last-child
                margin-right 0

            @media screen and (min-width 1840px)
                margin-right 49px
                
            @media screen and (max-width 1023px)
                margin-right 35px

            > a
                font-size 13px
                color #fff
                font-weight 500
                line-height 1
                text-transform uppercase
                text-decoration none

    &--mobile
        padding-left 62px

        @media screen and (max-width: 1346px)
            padding-left 35px

        @media screen and (max-width: 991px)
            padding-left 28px    
            
        & ^[0]

            &__items
                flex-direction column
                align-items flex-start

                > li
                    margin-right 42px
                    font-size 0
                    padding-top 5px
                    padding-bottom 5px
                    position relative
                    margin-right 0 !important
                    padding-top 0
                    margin-bottom 28px
                    border-bottom none 
                    transition none
                    &:hover
                        border-bottom none 
                        color #931431

                        .sub-menu
                            opacity 1
                            visibility visible


                    &:last-child
                        margin-right 0

                    > a
                        font-size 13px
                        color #000
                        font-weight 700
                        line-height 1
                        text-transform uppercase
                        text-decoration none  
                        transition color .3s
                        &:hover
                            color #931431              
    
.sub-menu
    padding 15px 15px 15px 30px
    position absolute
    top 37px
    left -20px
    width 820px
    // max-width 100%
    background-color rgb(249, 249, 249)
    box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0, 0, 0, 0.13)
    z-index 50
    display flex
    justify-content space-between
    opacity 0
    visibility hidden
    transition all .3s ease .15s

    @media screen and (max-width 1440px)
        width 600px

    @media screen and (max-width 1365px)
        width 280px

    @media screen and (max-width 1023px)
        display none

    &__items
        display flex
        justify-content space-between
        flex 1 1 450px

        @media screen and (max-width 1440px)
            flex 1 1 280px
            flex-direction column
        
    &__item

        .sub-menu-level-1
            display flex
            flex-direction column
            > li 
                font-size 0
                margin-bottom 20px
                > a	
                    font-size 14px
                    color #6c6c6c
                    font-weight 700
                    line-height 1
                    text-decoration none
                    &:hover
                        color #000
                        text-decoration underline
                    
                    &.active-sub-menu
                        color #000    
                
                .sub-menu-level-2
                    li
                        margin-top 10px
                        a
                            font-size 14px
                            color #6c6c6c
                            font-weight 500
                            line-height 1
                            text-decoration none
                            &:hover
                                color #000
                                text-decoration underline

    &__product
        margin-left 50px          

        @media screen and (max-width 1440px)
            margin-left 0           

        @media screen and (max-width 1365px)
            display none       

.lot-mini
    width 270px
    max-width 100%
    border 1px solid #f1f1f1
    transition box-shadow .3s
    position relative
    background-color #ffffff
    &:hover
        box-shadow 1.286px 1.532px 6.58px 0.42px rgba(0, 0, 0, 0.13)
        & ^[0]
            &__colors
                opacity 1

    // @media screen and (max-width 991px)
    //     width 50%    
    //     min-width 160px        

    &__body
        display flex
        flex-direction column
        padding 27px 30px 30px 30px

        // @media screen and (max-width 596px)
        //     padding 10px 12px

    &__head
        display flex
        align-items center
        justify-content space-between 
        margin-bottom 10px

    &__flags
        display flex

    &__flag
        font-size 13px
        color #fff
        font-weight 700
        text-transform uppercase
        line-height 1
        padding 8px 15px 9px
        margin-right 5px

        &--hit
            background-color #708cdb
        &--new
            background-color #8fcfd3
        &--sale
            background-color #a06a76

        // @media screen and (max-width 549px)
        //     font-size 8px
        //     padding 4px 6px 4px
        //     margin-right 4px

    &__favorites-compare
        display flex
        align-items center
        justify-content space-between

    &__compare
        width 16px
        height 14px
        margin-right 17px

        .jq-checkbox
            width 16px
            height 14px
            min-width auto
            border none

        //     @media screen and (max-width 549px)
        //         padding-top 2px

        // @media screen and (max-width 549px)
        //     margin-right 0px
        //     margin-left 5px        

        .jq-checkbox__div
            position relative
            &:before
                content '\f03a'
                font-family 'Font Awesome 5 Free'
                font-size 16px
                font-weight 900
                color #dadada  
                line-height 1
                position absolute  
                top 0
                left 0
                transition color .3s

                @media screen and (max-width 549px)
                    font-size 10px

            &:hover
                &:before
                    color #000     

        .jq-checkbox.checked
            .jq-checkbox__div
                width auto
                height auto
                margin 0
                border none
                transform none
                &:before
                    color #000

    &__favorites
        width 16px
        height 14px

        .jq-checkbox
            width 16px
            height 14px
            border none
            margin-right 0

            // @media screen and (max-width 549px)
            //     padding-top 2px	

        .jq-checkbox__div
            position relative
            &:before
                content '\f004'
                font-family 'Font Awesome 5 Free'
                font-size 16px
                font-weight 900
                color #dadada  
                line-height 1
                position absolute  
                top 0
                left 0
                transition color .3s

                // @media screen and (max-width 549px)
                //     font-size 10px

            &:hover
                &:before
                    color #931431    

        .jq-checkbox.checked
            .jq-checkbox__div
                width auto
                height auto
                margin 0
                border none
                transform none
                &:before
                    color #931431
    
    &__product-img
        font-size 0              
        text-decoration none  
        display block
        display flex
        justify-content center
        align-items center

    &__img
        width 185px
        max-width 100%
        height auto
        font-size 0    
        display block
        margin-left auto
        margin-right auto

        img 
            max-width 100%

    &__product-name
        font-size 13px
        color #6c6c6c
        font-weight 500
        text-transform uppercase
        text-decoration none
        line-height 1.3    
        display inline-block
        vertical-align top
        margin-bottom 10px     

        // @media screen and (max-width 549px)
        //     font-size 10px


    // &__options
    //     font-size 13px
    //     color #6d6d6d
    //     line-height 1
    //     display flex
    //     flex-wrap wrap
    //     justify-content space-between

    //     @media screen and (max-width 549px)
    //         flex-direction column
        
    //     @media screen and (max-width 549px)
    //         font-size 9px

    // &__option
    //     width 50%
    //     margin-bottom 5px
    //     .fa-plane
    //         font-size 13px
    //         color #1c3284
    //         margin-left 7px

    //         @media screen and (max-width 549px)
    //             font-size 9px

    //     &--mod
    //         text-align right

    //         @media screen and (max-width 549px)
    //             text-align left
    //             margin-bottom 0
    //             order 1

    //     @media screen and (max-width 549px)
    //         width auto       

    // &__link-photo
    //     font-size 13px
    //     color #6d6d6d
    //     font-weight 500
    //     text-decoration none
    //     text-transform uppercase

    //     .fa-expand-arrows-alt
    //         margin-top 5px
    //         margin-left 7px

    //     @media screen and (max-width 549px)
    //         display none

    &__price-to-cart
        display flex        
        align-items baseline

        // @media screen and (max-width 549px)
        //     margin-top 10px

    &__current-price
        font-size 15px
        font-weight 700
        color #931431   
        margin-right 10px

        // @media screen and (max-width 549px)
        //     font-size 11px

        .fa-ruble-sign
            font-size 12px 
            margin-left 2px
            
            // @media screen and (max-width 549px)
            //     font-size 11px

    &__old-price
        font-size 13px
        color #6c6c6c
        font-weight 500
        text-decoration line-through    

        .fa-ruble-sign
            font-size 12px 
            margin-left 2px


    &__cart-btn
        font-size 10px
        color #fff
        font-weight 500
        line-height 1
        text-transform uppercase
        background-color #931431
        border none
        border-radius 2px
        min-width 91px
        padding-top 11px
        padding-bottom 11px     
        margin-left auto
        cursor pointer   
        transition background-color .3s
        &:hover
            background-color #6e0e24

        .fa-shopping-cart
            margin-left 3px

        // @media screen and (max-width 651px)
        //     display none    

    // &__colors
    //     position absolute
    //     top 50%
    //     left 30px
    //     margin-top -90px
    //     display flex
    //     flex-direction column
    //     opacity 0
    //     transition opacity .3s

    //     @media screen and (max-width 549px)
    //         left auto
    //         top auto
    //         bottom 60px
    //         right 0
    //         flex-direction row
    //         margin-top 0

    // &__color
    //     width 20px
    //     height 20px
    //     margin-bottom 3px
    //     border 1px solid transparent
    //     padding 1px
    //     transition border .3s
    //     span
    //         width 100%
    //         height 100%
    //         display block   

    //     &:hover
    //         border 1px solid #6d6d6d    

