<div block="advantages">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item" mods="free-delivery">
                <div elem="icon" mods="free-delivery"><icon name="advantages-icon" tag="i"></div>
                <div elem="title">Бесплатная <br> доставка</div>

                <div elem="body">
                    <div elem="text">
                        <p>
                            Бесплатная доставка курьером 
                            и в пункты выдачи в г. Москва 
                            и Санкт-Петербург
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
            <div elem="item" mods="ex">
                <div elem="icon" mods="ex"><icon name="advantages-icon2" tag="i"></div>
                <div elem="title">200 пунктов <br> самовывоза</div>

                <div elem="body">
                    <div elem="text">
                        <p>
                            Закажите доставку в ближайший 
                            пункт выдачи. Мы вас оповестим 
                            смс о поступлении заказа.
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
            <div elem="item" mods="exchange-refund">
                <div elem="icon" mods="exchange-refund"><icon name="advantages-icon3" tag="i"></div>
                <div elem="title">100% обмен <br> или возврат </div>

                <div elem="body">
                    <div elem="text">
                        <p>
                            Привезем на выбор 3 
                            негабаритных сумки или 
                            рюкзака. Только Москва.
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
            <div elem="item" mods="delivery-choose">
                <div elem="icon" mods="delivery-choose"><icon name="advantages-icon4" tag="i"></div>
                <div elem="title">Доставка <br> на выбор</div>

                <div elem="body">
                    <div elem="text">
                        <p>
                            Привезем на выбор 3 
                            негабаритных сумки или 
                            рюкзака. Только Москва.
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
            <div elem="item" mods="special-delivery">
                <div elem="icon" mods="special-delivery"><icon name="advantages-icon5" tag="i"></div>
                <div elem="title">Срочная <br> доставка</div>

                <div elem="body">
                    <div elem="text">
                        <p>
                            Доставка в день заказа, 
                            если заказ оформлен в будни 
                            до 13 часов. Только Москва
                        </p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:advantages -->