.advantages
    padding-top 12px
    padding-bottom 12px
    background-color #f1f1f1
    padding-left 35px
    padding-right 30px

    @media screen and (max-width 991px)
        padding-left 5px
        padding-right 0
    
    @media screen and (max-width 767px)  
        display none  
    
    &__items
        display flex
        justify-content space-between

    &__item
        max-width 100%
        display flex
        align-items center
        position relative
        cursor default
        &--free-delivery
            width 225px
            // padding-right 85px
            padding-left 21px

        &:hover
            & ^[0]
                &__body
                    opacity 1
                    z-index 10

                &__title
                    color #931432

                &__icon
                    .svg-icon
                        fill #931432           
            
        &--ex
            width 236px
            // padding-right 90px
            padding-left 36px

        &--exchange-refund
            width 214px
            // padding-right 36px
            padding-left 36px

        &--delivery-choose
            width 187px
            // padding-right 59px
            padding-left 32px

        &--special-delivery
            width 214px
            padding-right 45px
            padding-left 49px

            & ^[0]
                &__body
                    &:before
                        content ''
                        position absolute
                        top -15px
                        left 50%
                        margin-left -35px
                        width 0
                        height 0
                        border-style solid
                        border-width 0 6.5px 15px 6.5px
                        border-color transparent transparent #931432 transparent

    &__icon
        margin-right 14px

        .svg-icon
            transition fill .3s

        &--free-delivery
            width 38px
            height 24px

            .svg-icon--advantages-icon
                width 38px
                height 24px

        &--ex
            width 24px
            height 24px
            
            .svg-icon--advantages-icon2
                width 24px
                height 24px

        &--exchange-refund
            width 24px
            height 24px

            .svg-icon--advantages-icon3
                width 24px
                height 24px

        &--delivery-choose
            width 27px
            height 25px

            .svg-icon--advantages-icon4
                width 27px
                height 25px

        &--special-delivery
            width 24px
            height 24px
            
            .svg-icon--advantages-icon5
                width 24px
                height 24px      

    &__title
        font-size 12px
        color #000        
        font-weight 500
        line-height 1.2
        transition color .3s

    &__body
        position absolute
        top 100%
        left 0
        margin-top 12px
        width 100%
        padding 15px 20px 17px 20px
        background-color #931432
        z-index -1
        opacity 0
        transition opacity .3s ease-in-out
        &:before
            content ''
            position absolute
            top -15px
            left 60px
            width 0
            height 0
            border-style solid
            border-width 0 6.5px 15px 6.5px
            border-color transparent transparent #931432 transparent

    &__text
        font-size 12px
        color #fff
        font-weight 500

        p
            margin-bottom 0