.delivery-region
    
    @media screen and (max-width 479px)
        margin-bottom 10px

    &__section
        display flex
        align-items center

    &__title
        font-size 14px
        color #000
        font-weight 500
        margin-right 10px

        @media screen and (max-width 570px)
            display none

    &__active-name
        display flex
        align-items center
        
    &__name
        font-size 13px
        color #000
        font-weight 500
        text-decoration none
        text-transform uppercase
        transition color .3s

        .fas.fa-map-marker-alt
            font-size 15px
            margin-right 7px

        &:hover
            color #931431

.delivery-region-popup
    width 100%
    top 50%
    left 0
    margin-top -250px
    position absolute
    opacity 0
    z-index -100
    transition opacity .3s
    &--show
        opacity 1
        z-index 100

    @media screen and (max-width 1023px)
        top 0
        margin-top 0
    
    &__section
        background-color rgb(241, 241, 241)
        box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0, 0, 0, 0.13)
        padding 50px 70px 50px 70px
        width 650px
        max-width 100%
        margin-right auto
        margin-left auto 
        position relative

        @media screen and (max-width 596px)
            padding-right 16px
            padding-left 16px

    &__close-x
        font-size 35px
        color #757575
        font-family serif
        font-weight 300
        transform rotate(45deg)
        position absolute
        top 0
        right 20px
        cursor pointer
        transition color .3s
        &:hover
            color #931431
    
    &__title
        font-size 19px
        color #000
        font-weight 700
        text-transform uppercase
        line-height 1
        margin-bottom 20px

    &__change-region
        margin-bottom 20px    

    &__desc
        font-size 14px
        font-weight 500
        color #6d6d6d
        line-height 1
        margin-bottom 10px

    &__specify-input
        width 100%
        margin-bottom 10px
        input
            font-size 12px
            color #000
            font-weight 50
            line-height 1
            width 100%
            border none
            padding 12px 16px 14px 16px

        /* IE 10+ */
        ::-webkit-input-placeholder
            font-size 12px
            color #b2b2b2
            text-transform uppercase
        :-moz-placeholder
            font-size 12px
            color #b2b2b2
            text-transform uppercase
        /* FF 4-18 */
        ::-moz-placeholder
            font-size 12px
            color #b2b2b2
            text-transform uppercase
        /* FF 19+ */
        :-ms-input-placeholder
            font-size 12px
            color #b2b2b2
            text-transform uppercase  

    &__set-region
        display flex
        align-items center
        justify-content space-between

    &__automatic-date-linnk
        font-size 12px
        color #921330
        font-weight 500
        text-decoration none

        .fa-map-marker-alt
            margin-right 7px

        @media screen and (max-width 596px)
            font-size 11px    

    &__sub-title
        font-size 13px
        color #6d6d6d      
        font-weight 500
        text-transform uppercase
        line-height 1
        margin-bottom 18px

    &__popular-cities
        list-style none
        padding-left 0
        margin-bottom 0
        display flex
        flex-wrap wrap
        justify-content space-between

        li
            font-size 13px
            color #6d6d6d
            font-weight 500
            text-transform uppercase
            line-height 1
            margin-bottom 13px 
            width 25%
            margin-right 1px
            &.main-popular-cities
                color #000

            @media screen and (max-width 596px)
                width 43%

            span
                display inline-block
                padding-bottom 4px
                border-bottom 1px solid transparent
                cursor pointer
                transition border color .3s
                &:hover
                    color #000
                    border-color #000
