<div block="delivery-region">
    <div elem="section">
        <div elem="title">Регион доставки:</div>
        <div elem="active-name">
            <a elem="name" href="#"><i class="fas fa-map-marker-alt"></i>Москва</a>
        </div><!-- e:active-name -->
    </div><!-- e:section -->
</div><!-- b:delivery-region -->


{% include "delivery-region-popup.html" %}