<div block="delivery-region-popup">
    <div elem="section">
        <div elem="close-x">+</div>
        <div elem="title">Москва</div><!-- e:title -->
        <div elem="change-region">
            <div elem="desc">Измените регион доставки, если он неверный или не определился:</div>
            <form elem="form">
                <div elem="specify-input">
                    <input type="text" name="" id="" placeholder="Укажите Ваш населенный пункт">
                </div><!-- e:specify-input -->
                <div elem="set-region">
                    <a elem="automatic-date-linnk" href="#"><i class="fas fa-map-marker-alt"></i>Определить автоматически</a>
                    <button elem="btn-memorize" class="site-btn" type="submit">запомнить</button>
                </div><!-- e:set-region -->
            </form><!-- e:form -->
        </div><!-- e:change-region -->
        <div elem="body">
            <div elem="sub-title">Популярные города:</div>
            <ul elem="popular-cities">
                {% for item in popularCities %}
                <li {% if loop.index0 == 0 or loop.index0 == 10 %}class="main-popular-cities" {% endif %}><span>{{item.nameCity}}</span></li>
                {% endfor %}
            </ul><!-- e:popular-cities -->
        </div><!-- e:body -->
    </div><!-- e:section -->
</div><!-- b:delivery-region.html -->