<div block="contacts-footer">
    <div elem="title">Контакты</div>
    <div elem="phones">
        <div elem="phone">
            <a href="tel:88007752574"><i class="fas fa-phone"></i>8 800 775 25 74</a>
        </div><!-- e:phone -->
        <div elem="phone">
            <a href="tel:88007752574"><i class="fas fa-phone"></i>8 800 775 25 74</a>
        </div><!-- e:phone -->
    </div><!-- e:phones -->
    <div elem="email">
        <a href="tomail:info@tasche.ru"><i class="fas fa-envelope"></i>info@tasche.ru</a>
    </div><!-- e:email -->
    <div elem="skype">
        <a href="skype:tasche.ru"><i class="fab fa-skype"></i>tasche.ru</a>
    </div><!-- e:scype -->
</div><!-- b:contacts-footer -->