.contacts-footer

    &__title
        font-family 12px
        font-weight 500
        color #fff
        text-transform uppercase
        margin-bottom 15px

    &__phones
        margin-bottom 17px

    &__phone
        margin-bottom 8px

        .fa-phone
            margin-right 5px    

    a
        font-size 11px
        color #b8b8b8
        font-weight 500
        line-height 1
        text-decoration none
        transition color .3s
        &:hover
            color #fff

    &__email
        margin-bottom 12px

        .fa-envelope
            margin-right 5px

    &__skype

        .fa-skype
            margin-right 5px        