.payment
    margin-bottom 15px
    
    &__title
        font-family 12px
        font-weight 500
        color #fff
        text-transform uppercase
        margin-bottom 15px

    &__items
        display flex
        align-items center

    &__item    
        margin-right 10px
