<div block="payment">
    <div elem="title">оплата</div>
    <div elem="items">
        <div elem="item"><img src="img/pay-visa-pic.png" alt=""></div><!-- e:item -->
        <div elem="item"><img src="img/pay-mc-pic.png" alt=""></div><!-- e:item -->
        <div elem="item"><img src="img/pay-wm-pic.png" alt=""></div><!-- e:item -->
        <div elem="item"><img src="img/pay-q-pic.png" alt=""></div><!-- e:item -->
        <div elem="item"><img src="img/pay-yam-pic.png" alt=""></div><!-- e:item -->
    </div><!-- e:items -->
</div><!-- b:payment -->