{% set crumbs = crumbs[crumbsKey] %}

<div block="b-crumbs">
    <div elem="items">
        {% for item in crumbs %}
            {% if loop.last != true %}
                <a href="{{ item.url }}" elem="item" mods="home">{{ item.title }} </a><!-- e:item --><span> → </span>
            {% endif %}
        {% endfor %}
        {{ crumbs[crumbs | length - 1].title }}
    </div><!-- e:items -->
</div><!-- b:b-crumbs -->
