.b-crumbs
    margin-bottom 25px

    @media screen and (max-width 480px)
        margin-bottom 15px
    
    &__items
        font-size 12px
        color #6d6d6d
        font-weight 500
        text-transform uppercase

        @media screen and (max-width 480px)
            font-size 9px

        span
            font-size 15px
            color #6d6d6d
            font-family Arial, sans-serif

            @media screen and (max-width 480px)
                font-size 9px

    &__item
        font-size 12px
        color #6d6d6d
        font-weight 500
        text-transform uppercase
        text-decoration none
        transition color .3s
        &:hover
            color #931431

        @media screen and (max-width 480px)
            font-size 9px    
    