<div block="info-link">
    <div elem="title">информация</div>
    <ul elem="list">
        <li><a href="#">Реквизиты магазина</a></li>
        <li><a href="#">Скидки и акции</a></li>
        <li><a href="#">Распродажи</a></li>
        <li><a href="#">Полезная информация</a></li>
    </ul>
</div><!-- b:info-link -->