::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

/* IE 10+ */
::-webkit-input-placeholder
    color : $placeholders.normal
:-moz-placeholder
    color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
    color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
    color : $placeholders.normal

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus

*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box
    outline none

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

blockquote
    font-style       : $blockquote.font.style
    padding          : 15px
    padding-left     : $blockquote.gutter
    border-left      : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    font-weight    : $headings.weight
    color          : $headings.color
    text-transform : $headings.transform
    
    &::-moz-selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

    &::selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

template, /* 1 */
[hidden]
    display none

// font weights
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

svg:not(:root)
    overflow hidden


.contain
    width 1800px
    max-width 100%
    margin 0 auto

.full-page
    width 1920px
    max-width 100%
    margin 0 auto

.page-indent
    padding-right 35px
    padding-left 35px

    @media screen and (max-width 991px)
        padding-right 28px
        padding-left 28px

    @media screen and (max-width 596px)
        padding-right 16px
        padding-left 16px    

a.hover-link
    transition color .3s
    &:hover
        color #931431

.mobile-hide
    @media screen and (max-width 991px)
        display none

.site-btn
    font-size 12px
    color #fff
    font-weight 500
    line-height 1
    text-transform uppercase
    text-decoration none
    text-align center
    background-color #931431
    border none
    border-radius 2px
    min-width 113px
    padding-top 11px
    padding-bottom 11px
    cursor pointer   
    transition background-color .3s
    &:hover
        background-color #6e0e24

h1
    font-size 22px
    color #000
    font-weight 700
    text-transform uppercase
    margin-bottom 10px
    line-height 1
    
    @media screen and (min-width 1280px)
        margin-bottom 0

    @media screen and (max-width 480px)
        font-size 14px    

body.show-menu-fixed
    overflow hidden

html 
    opacity 0
    // transition opacity .3s

    &.ready-page
        opacity 1