::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 17px;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.contain {
  width: 1800px;
  max-width: 100%;
  margin: 0 auto;
}

.full-page {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.page-indent {
  padding-right: 35px;
  padding-left: 35px;
}

a.hover-link {
  transition: color 0.3s;
}

a.hover-link:hover, a.hover-link:focus {
  color: #931431;
}

.site-btn {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #931431;
  border: none;
  border-radius: 2px;
  min-width: 113px;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.site-btn:hover, .site-btn:focus {
  background-color: #6e0e24;
}

h1 {
  font-size: 22px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1;
}

body.show-menu-fixed {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

html {
  opacity: 0;
}

html.ready-page {
  opacity: 1;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  background-color: #000;
  padding-top: 26px;
  padding-bottom: 48px;
}

.app-footer__items {
  font-size: 11px;
  color: #dbdbdb;
  font-weight: 500;
  line-height: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.app-footer__item {
  position: relative;
}

.app-footer__item--border-mod {
  padding-left: 50px;
}

.app-footer__item--border-mod:before {
  content: '';
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 111px;
}

.app-footer__copy {
  margin-bottom: 8px;
}

.app-footer__user-agreement {
  font-size: 11px;
  color: #dbdbdb;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: top;
}

.app-footer__user-agreement:hover, .app-footer__user-agreement:focus {
  text-decoration: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

.app-header__top-line {
  padding-top: 13px;
  padding-bottom: 8px;
  background: #f9f9f9;
}

.app-header__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.app-header__middle-line {
  background-color: #f1f1f1;
}

.app-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.app-header__info-shop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-header__for-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
}

.app-header__for-user .search {
  margin-right: 50px;
}

.app-header__for-preview {
  margin-left: 25px;
}

.app-header__bot-line {
  background-color: #000;
  position: relative;
}

.app-header__for-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 13px;
}

.app-header__btn-burger {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  display: none;
}

.app-header__btn-burger .open-icon-burger {
  width: 12px;
  height: 10px;
}

.app-header__btn-burger .open-icon-burger.open-active {
  display: none;
}

.app-header__btn-burger .close-icon-burger {
  width: 12px;
  height: 10px;
  display: none;
}

.app-header__btn-burger .close-icon-burger.close-active {
  display: block;
}

.app-header__btn-burger .title-burger {
  padding-top: 4px;
  margin-left: 15px;
}

.app-header__for-filter-mob-btn {
  width: 16px;
  height: 43px;
  background-color: #931431;
  position: fixed;
  top: 220px;
  left: 0;
  z-index: 20;
  cursor: pointer;
  display: none;
  transition: left 0.4s;
}

.app-header__for-filter-mob-btn:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 31px;
  background-color: #fff;
  top: 5px;
  left: 8px;
}

.app-header__for-filter-mob-btn.open-filter {
  left: 256px;
  background-color: #f1f1f1;
  box-shadow: inset 3px -1px 6.51px 0.49px rgba(0,0,0,0.13);
}

.mobile-menu {
  width: 267px;
  height: 100vh;
  overflow: auto;
  position: absolute;
  top: 54px;
  left: -275px;
  z-index: 100;
  padding-bottom: 95px;
  background-color: #fff;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  transition: left 0.4s;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu.show-menu {
  left: 0;
}

.contacts-mobile {
  display: none;
  position: relative;
}

.contacts-mobile__icon .fa-phone {
  font-size: 13px;
}

.contacts-mobile__body {
  position: absolute;
  top: 38px;
  left: 0;
  width: 200px;
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.contacts-mobile__body.show-contacts {
  opacity: 1;
  z-index: 15;
}

.filter-mob {
  width: 256px;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: -275px;
  background-color: #fff;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  transition: left 0.4s;
  z-index: 20;
  -webkit-overflow-scrolling: touch;
}

.filter-mob.show-filter {
  left: 0;
}

.filter-mob__section {
  position: relative;
}

.filter-mob__body {
  background-color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

body {
  position: relative;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
  border-right: 1px solid #f1f1f1;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside-section {
  background-color: #fff;
}

.added-preview {
  width: 165px;
  max-width: 100%;
}

.added-preview__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.added-preview__item {
  position: relative;
  transition: color 0.3s;
}

.added-preview__item:hover .added-preview__body, .added-preview__item:focus .added-preview__body {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.added-preview__item:hover .added-preview__count, .added-preview__item:focus .added-preview__count {
  color: #000;
}

.added-preview__favorites {
  color: #6c6c6c;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.added-preview__favorites .fa-heart {
  font-size: 13px;
  color: #931431;
  margin-right: 5px;
}

.added-preview__body {
  width: 351px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 25px;
  background-color: #f9f9f9;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  padding: 17px 42px 20px 30px;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.15s;
}

.added-preview__body:before {
  content: '';
  position: absolute;
  top: -13px;
  right: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 13px 7.5px;
  border-color: transparent transparent #f9f9f9 transparent;
}

.added-preview__item-product {
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cfcfcf;
}

.added-preview__product-img {
  width: 78px;
  height: auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  margin-right: 19px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.added-preview__product-img a {
  font-size: 0;
  text-decoration: none;
  display: block;
}

.added-preview__product-img a img {
  max-width: 100%;
}

.added-preview__product-name {
  font-size: 13px;
  color: #6c6c6c;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  display: block;
  margin-bottom: 20px;
}

.added-preview__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  font-size: 13px;
}

.added-preview__price .fa-ruble-sign {
  font-size: 11px;
}

.added-preview__old-price {
  color: #6c6c6c;
  font-weight: 500;
  text-decoration: line-through;
  margin-right: 15px;
}

.added-preview__current-price {
  color: #931431;
  font-weight: 700;
}

.added-preview__count {
  font-size: 13px;
  color: #6c6c6c;
  line-height: 1;
}

.added-preview__btn {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #931431;
  border: none;
  border-radius: 2px;
  display: block;
  max-width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 7px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.added-preview__btn:hover, .added-preview__btn:focus {
  background-color: #6e0e24;
}

.added-preview__compare {
  text-decoration: none;
  color: #6c6c6c;
}

.added-preview__compare .fa-list {
  font-size: 13px;
  color: #000;
  margin-right: 5px;
}

.cart-preview {
  position: relative;
}

.cart-preview:hover > .cart-preview__body, .cart-preview:focus > .cart-preview__body {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.cart-preview__icon {
  font-size: 14px;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 9px;
  padding-right: 12px;
  transition: background-color 0.3s;
  height: 50px;
  cursor: pointer;
  background-color: #931431;
}

.cart-preview__icon:hover, .cart-preview__icon:focus {
  background-color: #6e0e24;
}

.cart-preview__icon .fa-shopping-cart {
  font-size: 13px;
  color: #fff;
  margin-right: 5px;
}

.cart-preview__count {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

.cart-preview__body {
  width: 351px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 25px;
  background-color: #f9f9f9;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  padding: 17px 42px 20px 30px;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.15s;
}

.cart-preview__body:before {
  content: '';
  position: absolute;
  top: -13px;
  right: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 13px 7.5px;
  border-color: transparent transparent #f9f9f9 transparent;
}

.cart-preview__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #cfcfcf;
}

.cart-preview__count-product {
  font-size: 13px;
  color: #000;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-right: 1px solid #cfcfcf;
}

.cart-preview__total-summ {
  font-size: 13px;
  color: #000;
  font-weight: 700;
  line-height: 1;
  padding-left: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.cart-preview__total-summ .fa-ruble-sign {
  font-size: 11px;
}

.cart-preview__item {
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cfcfcf;
}

.cart-preview__product-img {
  width: 78px;
  height: auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  margin-right: 19px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.cart-preview__product-img a {
  font-size: 0;
  text-decoration: none;
  display: block;
}

.cart-preview__product-img a img {
  max-width: 100%;
}

.cart-preview__product-name {
  font-size: 13px;
  color: #6c6c6c;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  display: block;
  margin-bottom: 20px;
}

.cart-preview__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  font-size: 13px;
}

.cart-preview__price .fa-ruble-sign {
  font-size: 11px;
}

.cart-preview__old-price {
  color: #6c6c6c;
  font-weight: 500;
  text-decoration: line-through;
  margin-right: 15px;
}

.cart-preview__current-price {
  color: #931431;
  font-weight: 700;
}

.cart-preview__btn {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #931431;
  border: none;
  border-radius: 2px;
  display: block;
  max-width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 7px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-preview__btn:hover, .cart-preview__btn:focus {
  background-color: #6e0e24;
}

.cart-preview__btn .fa-shopping-cart {
  margin-left: 3px;
}

.advantages-bottom {
  background-color: #931431;
}

.advantages-bottom__section {
  padding: 30px 140px;
}

.advantages-bottom__items {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.advantages-bottom__item {
  text-align: center;
}

.advantages-bottom__icon {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-bottom__icon .svg-icon {
  fill: #fff;
}

.advantages-bottom__icon--free-delivery {
  width: 38px;
  height: 24px;
}

.advantages-bottom__icon--free-delivery .svg-icon--advantages-icon {
  width: 38px;
  height: 24px;
}

.advantages-bottom__icon--ex {
  width: 24px;
  height: 24px;
}

.advantages-bottom__icon--ex .svg-icon--advantages-icon2 {
  width: 24px;
  height: 24px;
}

.advantages-bottom__icon--exchange-refund {
  width: 24px;
  height: 24px;
}

.advantages-bottom__icon--exchange-refund .svg-icon--advantages-icon3 {
  width: 24px;
  height: 24px;
}

.advantages-bottom__icon--delivery-choose {
  width: 27px;
  height: 25px;
}

.advantages-bottom__icon--delivery-choose .svg-icon--advantages-icon4 {
  width: 27px;
  height: 25px;
}

.advantages-bottom__icon--special-delivery {
  width: 24px;
  height: 24px;
}

.advantages-bottom__icon--special-delivery .svg-icon--advantages-icon5 {
  width: 24px;
  height: 24px;
}

.advantages-bottom__title {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 1.1;
}

.advantages {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f1f1f1;
  padding-left: 35px;
  padding-right: 30px;
}

.advantages__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.advantages__item {
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  cursor: default;
}

.advantages__item--free-delivery {
  width: 225px;
  padding-left: 21px;
}

.advantages__item:hover .advantages__body, .advantages__item:focus .advantages__body {
  opacity: 1;
  z-index: 10;
}

.advantages__item:hover .advantages__title, .advantages__item:focus .advantages__title {
  color: #931432;
}

.advantages__item:hover .advantages__icon .svg-icon, .advantages__item:focus .advantages__icon .svg-icon {
  fill: #931432;
}

.advantages__item--ex {
  width: 236px;
  padding-left: 36px;
}

.advantages__item--exchange-refund {
  width: 214px;
  padding-left: 36px;
}

.advantages__item--delivery-choose {
  width: 187px;
  padding-left: 32px;
}

.advantages__item--special-delivery {
  width: 214px;
  padding-right: 45px;
  padding-left: 49px;
}

.advantages__item--special-delivery .advantages__body:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6.5px 15px 6.5px;
  border-color: transparent transparent #931432 transparent;
}

.advantages__icon {
  margin-right: 14px;
}

.advantages__icon .svg-icon {
  transition: fill 0.3s;
}

.advantages__icon--free-delivery {
  width: 38px;
  height: 24px;
}

.advantages__icon--free-delivery .svg-icon--advantages-icon {
  width: 38px;
  height: 24px;
}

.advantages__icon--ex {
  width: 24px;
  height: 24px;
}

.advantages__icon--ex .svg-icon--advantages-icon2 {
  width: 24px;
  height: 24px;
}

.advantages__icon--exchange-refund {
  width: 24px;
  height: 24px;
}

.advantages__icon--exchange-refund .svg-icon--advantages-icon3 {
  width: 24px;
  height: 24px;
}

.advantages__icon--delivery-choose {
  width: 27px;
  height: 25px;
}

.advantages__icon--delivery-choose .svg-icon--advantages-icon4 {
  width: 27px;
  height: 25px;
}

.advantages__icon--special-delivery {
  width: 24px;
  height: 24px;
}

.advantages__icon--special-delivery .svg-icon--advantages-icon5 {
  width: 24px;
  height: 24px;
}

.advantages__title {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
  transition: color 0.3s;
}

.advantages__body {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 12px;
  width: 100%;
  padding: 15px 20px 17px 20px;
  background-color: #931432;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.advantages__body:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6.5px 15px 6.5px;
  border-color: transparent transparent #931432 transparent;
}

.advantages__text {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.advantages__text p {
  margin-bottom: 0;
}

.before-content-block__section {
  padding: 30px 28px 15px 55px;
}

.category-nav {
  margin-bottom: 40px;
}

.category-nav__head {
  padding: 15px 20px 20px 62px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.category-nav__title {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.category-nav__menu {
  padding-left: 62px;
}

.category-nav__menu ul li {
  margin-bottom: 20px;
  font-size: 0;
}

.category-nav__menu ul li a {
  font-size: 13px;
  color: #6d6d6d;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 16px;
  position: relative;
  transition: color 0.3s;
}

.category-nav__menu ul li a:hover, .category-nav__menu ul li a:focus {
  color: #6e0e24;
}

.category-nav__menu ul li a:hover:before, .category-nav__menu ul li a:focus:before {
  border-color: transparent transparent transparent #6e0e24;
}

.category-nav__menu ul li a:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #6d6d6d;
  transition: border-color 0.3s;
}

.category-nav__menu ul li a.active-category {
  color: #6e0e24;
}

.category-nav__menu ul li a.active-category:before {
  border-color: transparent transparent transparent #6e0e24;
}

.category-nav__menu .level-2 {
  padding: 15px 0 0 15px;
}

.category-nav__menu .level-2 li {
  margin-bottom: 10px;
}

.category-nav__menu .level-2 li a {
  font-size: 14px;
  text-transform: inherit;
  padding-left: 0;
}

.category-nav__menu .level-2 li a:before {
  display: none;
}

.category-nav__menu .level-3 {
  padding-top: 10px;
  padding-left: 18px;
}

.contacts-footer__title {
  font-family: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contacts-footer__phones {
  margin-bottom: 17px;
}

.contacts-footer__phone {
  margin-bottom: 8px;
}

.contacts-footer__phone .fa-phone {
  margin-right: 5px;
}

.contacts-footer a {
  font-size: 11px;
  color: #b8b8b8;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.contacts-footer a:hover, .contacts-footer a:focus {
  color: #fff;
}

.contacts-footer__email {
  margin-bottom: 12px;
}

.contacts-footer__email .fa-envelope {
  margin-right: 5px;
}

.contacts-footer__skype .fa-skype {
  margin-right: 5px;
}

.contacts__phone a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  text-decoration: none;
}

.contacts__phone a .fa-phone {
  font-size: 11px;
  margin-right: 7px;
}

.b-crumbs {
  margin-bottom: 25px;
}

.b-crumbs__items {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
  text-transform: uppercase;
}

.b-crumbs__items span {
  font-size: 15px;
  color: #6d6d6d;
  font-family: Arial, sans-serif;
}

.b-crumbs__item {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.b-crumbs__item:hover, .b-crumbs__item:focus {
  color: #931431;
}

.delivery-region__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.delivery-region__title {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin-right: 10px;
}

.delivery-region__active-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.delivery-region__name {
  font-size: 13px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.delivery-region__name .fas.fa-map-marker-alt {
  font-size: 15px;
  margin-right: 7px;
}

.delivery-region__name:hover, .delivery-region__name:focus {
  color: #931431;
}

.delivery-region-popup {
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -250px;
  position: absolute;
  opacity: 0;
  z-index: -100;
  transition: opacity 0.3s;
}

.delivery-region-popup--show {
  opacity: 1;
  z-index: 100;
}

.delivery-region-popup__section {
  background-color: #f1f1f1;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  padding: 50px 70px 50px 70px;
  width: 650px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.delivery-region-popup__close-x {
  font-size: 35px;
  color: #757575;
  font-family: serif;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.delivery-region-popup__close-x:hover, .delivery-region-popup__close-x:focus {
  color: #931431;
}

.delivery-region-popup__title {
  font-size: 19px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 20px;
}

.delivery-region-popup__change-region {
  margin-bottom: 20px;
}

.delivery-region-popup__desc {
  font-size: 14px;
  font-weight: 500;
  color: #6d6d6d;
  line-height: 1;
  margin-bottom: 10px;
}

.delivery-region-popup__specify-input {
  width: 100%;
  margin-bottom: 10px;
  /* IE 10+ */
  /* FF 4-18 */
  /* FF 19+ */
}

.delivery-region-popup__specify-input input {
  font-size: 12px;
  color: #000;
  font-weight: 50;
  line-height: 1;
  width: 100%;
  border: none;
  padding: 12px 16px 14px 16px;
}

.delivery-region-popup__specify-input ::-webkit-input-placeholder {
  font-size: 12px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.delivery-region-popup__specify-input :-moz-placeholder {
  font-size: 12px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.delivery-region-popup__specify-input ::-moz-placeholder {
  font-size: 12px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.delivery-region-popup__specify-input :-ms-input-placeholder {
  font-size: 12px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.delivery-region-popup__set-region {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.delivery-region-popup__automatic-date-linnk {
  font-size: 12px;
  color: #921330;
  font-weight: 500;
  text-decoration: none;
}

.delivery-region-popup__automatic-date-linnk .fa-map-marker-alt {
  margin-right: 7px;
}

.delivery-region-popup__sub-title {
  font-size: 13px;
  color: #6d6d6d;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 18px;
}

.delivery-region-popup__popular-cities {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.delivery-region-popup__popular-cities li {
  font-size: 13px;
  color: #6d6d6d;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 13px;
  width: 25%;
  margin-right: 1px;
}

.delivery-region-popup__popular-cities li.main-popular-cities {
  color: #000;
}

.delivery-region-popup__popular-cities li span {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: border color 0.3s;
}

.delivery-region-popup__popular-cities li span:hover, .delivery-region-popup__popular-cities li span:focus {
  color: #000;
  border-color: #000;
}

.filter {
  background-color: #fff;
}

.filter__head {
  padding: 15px 20px 20px 62px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.filter__title {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.filter__items {
  padding-left: 62px;
  padding-right: 29px;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__name {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter__price-range .noUi-horizontal {
  height: 2px;
  margin-bottom: 10px;
}

.filter__price-range .noUi-horizontal .noUi-connect {
  height: 2px;
  background: #000;
}

.filter__price-range .noUi-horizontal .noUi-handle {
  width: 4px;
  height: 8px;
  border-radius: 0;
  box-shadow: none;
  background: #000;
  left: 0;
  bottom: -3px;
}

.filter__price-range .noUi-origin,
.filter__price-range .noUi-horizontal .noUi-origin.noUi-background {
  height: 2px;
}

.filter__inputs-price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.filter__input {
  display: block;
  width: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.filter__input input {
  font-size: 14px;
  color: #6d6d6d;
  font-weight: 500;
  width: 100%;
  border: none;
}

.filter__input input[disabled] {
  background-color: transparent;
}

.filter__input .fa-ruble-sign {
  font-size: 14px;
  color: #6d6d6d;
}

.filter__label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter__label .jq-checkbox {
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  border: 1px solid #4f4e4e;
}

.filter__label .jq-checkbox.checked,
.filter__label .jq-checkbox.hover-check {
  background-color: #931431;
  border: 1px solid #931431;
}

.filter__label .jq-checkbox.checked .jq-checkbox__div,
.filter__label .jq-checkbox.hover-check .jq-checkbox__div {
  width: 8px;
  height: 5px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  margin: 1px 0 0 1px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.filter__label:hover .filter__indication-text, .filter__label:focus .filter__indication-text {
  color: #000;
}

.filter__color {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.filter__color-view {
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 5px;
  border-radius: 1px;
}

.filter__indication-text {
  font-size: 14px;
  color: #6d6d6d;
  font-weight: 500;
  line-height: 1;
}

.filter__bot {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.filter__btn--reset {
  color: #6d6d6d;
  border: 1px solid #6d6d6d;
  border-radius: 2px;
  background-color: #fff;
  min-width: 88px;
}

.filter__btn--reset:hover, .filter__btn--reset:focus {
  color: #931431;
  border-color: #931431;
  background-color: #fff;
}

.filter__btn--submit {
  border: 1px solid transparent;
}

.for-customers__title {
  font-family: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.for-customers__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.for-customers__list li {
  margin-bottom: 10px;
}

.for-customers__list li a {
  font-size: 11px;
  color: #b8b8b8;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.for-customers__list li a:hover, .for-customers__list li a:focus {
  color: #fff;
}

.info-link__title {
  font-family: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.info-link__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.info-link__list li {
  margin-bottom: 10px;
}

.info-link__list li a {
  font-size: 11px;
  color: #b8b8b8;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.info-link__list li a:hover, .info-link__list li a:focus {
  color: #fff;
}

.links-shop__items a {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  line-height: 1;
  text-decoration: none;
  margin-right: 50px;
  transition: color 0.3s;
}

.links-shop__items a span {
  color: #6d6d6d;
  margin-left: 5px;
}

.logo {
  width: 137px;
}

.logo__img {
  text-decoration: none;
  color: #000;
}

.logo__img img {
  max-width: 100%;
  margin-bottom: 3px;
}

.logo__desc {
  font-size: 9.4px;
  line-height: 1;
  font-weight: 700;
  display: block;
  padding-left: 7px;
}

.logo--footer {
  margin-bottom: 30px;
}

.logo--footer .logo__desc {
  color: #fff;
}

.lot {
  min-width: 340px;
  width: 25%;
  border: 1px solid #f1f1f1;
  transition: box-shadow 0.3s;
  position: relative;
}

.lot:hover, .lot:focus {
  box-shadow: 1.286px 1.532px 6.58px 0.42px rgba(0,0,0,0.13);
}

.lot:hover .lot__colors, .lot:focus .lot__colors {
  opacity: 1;
}

.lot__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 27px 31px 31px 31px;
}

.lot__top {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.lot__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
}

.lot__flags {
  display: -ms-flexbox;
  display: flex;
}

.lot__flag {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 8px 15px 9px;
  margin-right: 5px;
}

.lot__flag--hit {
  background-color: #708cdb;
}

.lot__flag--new {
  background-color: #8fcfd3;
}

.lot__flag--sale {
  background-color: #a06a76;
}

.lot__favorites-compare {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.lot__compare {
  width: 16px;
  height: 14px;
  margin-right: 17px;
}

.lot__compare .jq-checkbox {
  width: 16px;
  height: 14px;
  min-width: auto;
  border: none;
}

.lot__compare .jq-checkbox__div {
  position: relative;
}

.lot__compare .jq-checkbox__div:before {
  content: '\f03a';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 900;
  color: #dadada;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.3s;
}

.lot__compare .jq-checkbox__div:hover:before, .lot__compare .jq-checkbox__div:focus:before {
  color: #000;
}

.lot__compare .jq-checkbox.checked .jq-checkbox__div {
  width: auto;
  height: auto;
  margin: 0;
  border: none;
  -webkit-transform: none;
          transform: none;
}

.lot__compare .jq-checkbox.checked .jq-checkbox__div:before {
  color: #000;
}

.lot__favorites {
  width: 16px;
  height: 14px;
}

.lot__favorites .jq-checkbox {
  width: 16px;
  height: 14px;
  border: none;
  margin-right: 0;
}

.lot__favorites .jq-checkbox__div {
  position: relative;
}

.lot__favorites .jq-checkbox__div:before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 900;
  color: #dadada;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.3s;
}

.lot__favorites .jq-checkbox__div:hover:before, .lot__favorites .jq-checkbox__div:focus:before {
  color: #931431;
}

.lot__favorites .jq-checkbox.checked .jq-checkbox__div {
  width: auto;
  height: auto;
  margin: 0;
  border: none;
  -webkit-transform: none;
          transform: none;
}

.lot__favorites .jq-checkbox.checked .jq-checkbox__div:before {
  color: #931431;
}

.lot__product-img {
  font-size: 0;
  text-decoration: none;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 225px;
  max-width: 100%;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
}

.lot__img {
  font-size: 0;
}

.lot__img img {
  max-width: 100%;
}

.lot__product-name {
  font-size: 15px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.3;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.lot__options {
  font-size: 13px;
  color: #6d6d6d;
  line-height: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.lot__option {
  width: 50%;
  margin-bottom: 5px;
}

.lot__option .fa-plane {
  font-size: 13px;
  color: #1c3284;
  margin-left: 7px;
}

.lot__option--mod {
  text-align: right;
}

.lot__link-photo {
  font-size: 13px;
  color: #6d6d6d;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.lot__link-photo .fa-expand-arrows-alt {
  margin-top: 5px;
  margin-left: 7px;
}

.lot__price-to-cart {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.lot__current-price {
  font-size: 18px;
  font-weight: 700;
  color: #931431;
  margin-right: 20px;
}

.lot__current-price .fa-ruble-sign {
  font-size: 14px;
  margin-left: 2px;
}

.lot__old-price {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  text-decoration: line-through;
}

.lot__old-price .fa-ruble-sign {
  font-size: 14px;
  margin-left: 2px;
}

.lot__cart-btn {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  background-color: #931431;
  border: none;
  border-radius: 2px;
  min-width: 113px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lot__cart-btn:hover, .lot__cart-btn:focus {
  background-color: #6e0e24;
}

.lot__cart-btn .fa-shopping-cart {
  margin-left: 3px;
}

.lot__colors {
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s;
}

.lot__color {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  padding: 1px;
  transition: border 0.3s;
}

.lot__color span {
  width: 100%;
  height: 100%;
  display: block;
}

.lot__color:hover, .lot__color:focus {
  border: 1px solid #6d6d6d;
}

.lot__color.active-color {
  border: 1px solid #6d6d6d;
}

.main-nav__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav__items > li {
  margin-right: 42px;
  font-size: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav__items > li:hover, .main-nav__items > li:focus {
  border-bottom: 1px solid rgba(255,255,255,0.7);
}

.main-nav__items > li:hover .sub-menu, .main-nav__items > li:focus .sub-menu {
  opacity: 1;
  visibility: visible;
}

.main-nav__items > li:last-child {
  margin-right: 0;
}

.main-nav__items > li > a {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav--mobile {
  padding-left: 62px;
}

.main-nav--mobile .main-nav__items {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
}

.main-nav--mobile .main-nav__items > li {
  margin-right: 42px;
  font-size: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-right: 0 !important;
  padding-top: 0;
  margin-bottom: 28px;
  border-bottom: none;
  transition: none;
}

.main-nav--mobile .main-nav__items > li:hover, .main-nav--mobile .main-nav__items > li:focus {
  border-bottom: none;
  color: #931431;
}

.main-nav--mobile .main-nav__items > li:hover .sub-menu, .main-nav--mobile .main-nav__items > li:focus .sub-menu {
  opacity: 1;
  visibility: visible;
}

.main-nav--mobile .main-nav__items > li:last-child {
  margin-right: 0;
}

.main-nav--mobile .main-nav__items > li > a {
  font-size: 13px;
  color: #000;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav--mobile .main-nav__items > li > a:hover, .main-nav--mobile .main-nav__items > li > a:focus {
  color: #931431;
}

.sub-menu {
  padding: 15px 15px 15px 30px;
  position: absolute;
  top: 37px;
  left: -20px;
  width: 820px;
  background-color: #f9f9f9;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  z-index: 50;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.15s;
}

.sub-menu__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: 1 1 450px;
      flex: 1 1 450px;
}

.sub-menu__item .sub-menu-level-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.sub-menu__item .sub-menu-level-1 > li {
  font-size: 0;
  margin-bottom: 20px;
}

.sub-menu__item .sub-menu-level-1 > li > a {
  font-size: 14px;
  color: #6c6c6c;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.sub-menu__item .sub-menu-level-1 > li > a:hover, .sub-menu__item .sub-menu-level-1 > li > a:focus {
  color: #000;
  text-decoration: underline;
}

.sub-menu__item .sub-menu-level-1 > li > a.active-sub-menu {
  color: #000;
}

.sub-menu__item .sub-menu-level-1 > li .sub-menu-level-2 li {
  margin-top: 10px;
}

.sub-menu__item .sub-menu-level-1 > li .sub-menu-level-2 li a {
  font-size: 14px;
  color: #6c6c6c;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.sub-menu__item .sub-menu-level-1 > li .sub-menu-level-2 li a:hover, .sub-menu__item .sub-menu-level-1 > li .sub-menu-level-2 li a:focus {
  color: #000;
  text-decoration: underline;
}

.sub-menu__product {
  margin-left: 50px;
}

.lot-mini {
  width: 270px;
  max-width: 100%;
  border: 1px solid #f1f1f1;
  transition: box-shadow 0.3s;
  position: relative;
  background-color: #fff;
}

.lot-mini:hover, .lot-mini:focus {
  box-shadow: 1.286px 1.532px 6.58px 0.42px rgba(0,0,0,0.13);
}

.lot-mini:hover .lot-mini__colors, .lot-mini:focus .lot-mini__colors {
  opacity: 1;
}

.lot-mini__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 27px 30px 30px 30px;
}

.lot-mini__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
}

.lot-mini__flags {
  display: -ms-flexbox;
  display: flex;
}

.lot-mini__flag {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 8px 15px 9px;
  margin-right: 5px;
}

.lot-mini__flag--hit {
  background-color: #708cdb;
}

.lot-mini__flag--new {
  background-color: #8fcfd3;
}

.lot-mini__flag--sale {
  background-color: #a06a76;
}

.lot-mini__favorites-compare {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.lot-mini__compare {
  width: 16px;
  height: 14px;
  margin-right: 17px;
}

.lot-mini__compare .jq-checkbox {
  width: 16px;
  height: 14px;
  min-width: auto;
  border: none;
}

.lot-mini__compare .jq-checkbox__div {
  position: relative;
}

.lot-mini__compare .jq-checkbox__div:before {
  content: '\f03a';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 900;
  color: #dadada;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.3s;
}

.lot-mini__compare .jq-checkbox__div:hover:before, .lot-mini__compare .jq-checkbox__div:focus:before {
  color: #000;
}

.lot-mini__compare .jq-checkbox.checked .jq-checkbox__div {
  width: auto;
  height: auto;
  margin: 0;
  border: none;
  -webkit-transform: none;
          transform: none;
}

.lot-mini__compare .jq-checkbox.checked .jq-checkbox__div:before {
  color: #000;
}

.lot-mini__favorites {
  width: 16px;
  height: 14px;
}

.lot-mini__favorites .jq-checkbox {
  width: 16px;
  height: 14px;
  border: none;
  margin-right: 0;
}

.lot-mini__favorites .jq-checkbox__div {
  position: relative;
}

.lot-mini__favorites .jq-checkbox__div:before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 900;
  color: #dadada;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.3s;
}

.lot-mini__favorites .jq-checkbox__div:hover:before, .lot-mini__favorites .jq-checkbox__div:focus:before {
  color: #931431;
}

.lot-mini__favorites .jq-checkbox.checked .jq-checkbox__div {
  width: auto;
  height: auto;
  margin: 0;
  border: none;
  -webkit-transform: none;
          transform: none;
}

.lot-mini__favorites .jq-checkbox.checked .jq-checkbox__div:before {
  color: #931431;
}

.lot-mini__product-img {
  font-size: 0;
  text-decoration: none;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.lot-mini__img {
  width: 185px;
  max-width: 100%;
  height: auto;
  font-size: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lot-mini__img img {
  max-width: 100%;
}

.lot-mini__product-name {
  font-size: 13px;
  color: #6c6c6c;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.3;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.lot-mini__price-to-cart {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.lot-mini__current-price {
  font-size: 15px;
  font-weight: 700;
  color: #931431;
  margin-right: 10px;
}

.lot-mini__current-price .fa-ruble-sign {
  font-size: 12px;
  margin-left: 2px;
}

.lot-mini__old-price {
  font-size: 13px;
  color: #6c6c6c;
  font-weight: 500;
  text-decoration: line-through;
}

.lot-mini__old-price .fa-ruble-sign {
  font-size: 12px;
  margin-left: 2px;
}

.lot-mini__cart-btn {
  font-size: 10px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  background-color: #931431;
  border: none;
  border-radius: 2px;
  min-width: 91px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lot-mini__cart-btn:hover, .lot-mini__cart-btn:focus {
  background-color: #6e0e24;
}

.lot-mini__cart-btn .fa-shopping-cart {
  margin-left: 3px;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.pagination {
  padding-right: 30px;
  margin-top: 35px;
  margin-bottom: 170px;
}

.pagination__body {
  width: 615px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: auto;
}

.pagination__pages-links {
  font-size: 17px;
  color: #6d6d6d;
  font-weight: 500;
}

.pagination__pages-links span {
  margin-left: -5px;
  margin-right: 5px;
}

.pagination__pages-links a {
  font-size: 17px;
  color: #6d6d6d;
  font-weight: 500;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s;
}

.pagination__pages-links a:hover, .pagination__pages-links a:focus {
  color: #931431;
}

.pagination__pages-links a.active-page {
  color: #931431;
  cursor: default;
}

.pagination__more a {
  font-size: 14px;
  color: #6d6d6d;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.pagination__more a:hover, .pagination__more a:focus {
  color: #931431;
}

.payment {
  margin-bottom: 15px;
}

.payment__title {
  font-family: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.payment__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.payment__item {
  margin-right: 10px;
}

.personal-account {
  margin-top: 4px;
}

.personal-account__section {
  font-size: 13px;
  color: #6d6d6d;
}

.personal-account__section a {
  text-decoration: none;
}

.personal-account__user {
  color: #000;
}

.personal-account__user .fa-user {
  font-size: 13px;
  color: #000;
  margin-right: 7px;
}

.personal-account__user:hover .fa-user, .personal-account__user:focus .fa-user {
  color: #931431;
}

.personal-account__sign-out {
  font-size: 13px;
  color: #6d6d6d;
}

.personal-account__sign-out:hover, .personal-account__sign-out:focus {
  color: #6d6d6d !important;
}

.personal-account__sign-out .fa-sign-out-alt {
  font-size: 13px;
  color: #6d6d6d;
  margin-left: 3px;
}

.product-list__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-text__section {
  background-color: #f9f9f9;
  padding: 0 140px 17px 140px;
  margin-top: 73px;
}

.product-text__body {
  background: #f1f1f1;
  padding: 65px 58px 70px 100px;
  position: relative;
  top: -73px;
}

.product-text p {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 20px;
}

.product-text__useful-information a {
  font-size: 15px;
  color: #931431;
  text-decoration: none;
}

.product-text__title-use-info {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 19px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.is-category-links {
  padding-left: 18px;
}

.category-links {
  font-size: 15px;
  color: #931431;
  text-decoration: none;
  position: relative;
}

.category-links:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #931431;
  transition: border-color 0.3s;
}

.sale {
  width: 255px;
  max-width: 100%;
}

.sale__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.sale__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
}

.sale__item:hover .sale__title, .sale__item:focus .sale__title {
  color: #931431;
}

.sale__item:hover .sale__icon .svg-icon, .sale__item:focus .sale__icon .svg-icon {
  fill: #931431;
}

.sale__title {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  transition: color 0.3s;
}

.sale__icon {
  width: 25px;
  height: 25px;
}

.sale__icon .svg-icon {
  fill: #fff;
  transition: fill 0.3s;
}

.sale__icon--sale {
  margin-right: 7px;
}

.sale__icon--discounts {
  margin-right: 10px;
}

.search__input {
  width: 221px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.search__input input[type="text"] {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 7px 35px 9px 15px;
}

.search__input ::-webkit-input-placeholder {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
}

.search__input ::-moz-placeholder {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
}

.search__input :-moz-placeholder {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
}

.search__input :-ms-input-placeholder {
  font-size: 12px;
  color: #6d6d6d;
  font-weight: 500;
}

.search__btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 16px;
}

.search__btn .fas.fa-search {
  font-size: 12px;
  color: #6d6d6d;
  transition: color 0.3s;
}

.search__btn .fas.fa-search:hover, .search__btn .fas.fa-search:focus {
  color: #000;
}

.social__title {
  font-family: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.social__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.social__item {
  font-size: 14px;
  color: #b8b8b8;
  text-decoration: none;
  width: 24px;
  height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-right: 13px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  background-color: #000;
  text-align: center;
  transition: all 0.3s;
}

.social__item--vk:hover, .social__item--vk:focus {
  color: #8a9eb6;
  border-color: #8a9eb6;
  background-color: #f1f1f1;
}

.social__item--ok:hover, .social__item--ok:focus {
  color: #f2a568;
  border-color: #f2a568;
  background-color: #f1f1f1;
}

.social__item--fb:hover, .social__item--fb:focus {
  color: #8496bc;
  border-color: #8496bc;
  background-color: #f1f1f1;
}

.social__item--tw:hover, .social__item--tw:focus {
  color: #60c8ef;
  border-color: #60c8ef;
  background-color: #f1f1f1;
}

.social__item--go:hover, .social__item--go:focus {
  color: #e58d83;
  border-color: #e58d83;
  background-color: #f1f1f1;
}

.sorting {
  width: 550px;
  max-width: 100%;
  margin-left: auto;
}

.sorting__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.sorting__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.sorting__title {
  font-size: 15px;
  color: #000;
  font-weight: 600;
  line-height: 1;
}

.sorting__selection .jq-selectbox.jqselect.dropdown.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-color: transparent transparent transparent #000;
}

.sorting__selection .jq-selectbox.jqselect.dropup.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-color: transparent transparent transparent #000;
}

.sorting__selection .jq-selectbox__select:active {
  background: none;
  box-shadow: none;
}

.sorting__selection .jq-selectbox__select-text {
  font-size: 15px;
  color: #6d6d6d;
  font-weight: 400;
  line-height: 1;
}

.sorting__selection .jq-selectbox__trigger-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #6d6d6d;
  background: none;
  margin-top: 3px;
  margin-left: 10px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.sorting__selection .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.sorting__selection .jq-selectbox:focus .jq-selectbox__trigger-arrow {
  border-top-color: transparent;
}

.sorting__selection .jq-selectbox__dropdown {
  width: 201px !important;
  background-color: #f9f9f9;
  box-shadow: 1.928px 2.298px 6.51px 0.49px rgba(0,0,0,0.13);
  border: none;
  margin-top: 10px;
}

.sorting__selection .jq-selectbox__dropdown li {
  font-size: 15px;
  font-weight: 500;
  color: #6d6d6d;
  padding: 10px 13px 13px 13px;
  transition: background-color 0.3s;
  position: relative;
}

.sorting__selection .jq-selectbox__dropdown li.sel,
.sorting__selection .jq-selectbox__dropdown li.selected {
  color: #000;
  background-color: transparent;
}

.sorting__selection .jq-selectbox__dropdown li.sel:after,
.sorting__selection .jq-selectbox__dropdown li.selected:after {
  content: '\f00c';
  font-size: 11px;
  font-family: 'Font Awesome 5 Free';
  color: #000;
  font-weight: 900;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sorting__selection .jq-selectbox__dropdown li:hover, .sorting__selection .jq-selectbox__dropdown li:focus {
  background-color: #f1f1f1;
}

.sorting__selection--count-product .jq-selectbox__dropdown {
  width: 57px !important;
}

@media screen and (min-width: 1280px) {
  h1 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1346px) {
  .contacts__phones {
    display: -ms-flexbox;
    display: flex;
  }

  .contacts__phone {
    margin-right: 28px;
  }

  .contacts__phone:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1347px) {
  .app-footer__item--for-copy {
    display: none;
  }

  .app-header__for-preview {
    margin-left: 50px;
  }

  .personal-account__sign-out .fa-sign-out-alt {
    font-size: 0;
  }
}

@media screen and (min-width: 1480px) {
  .app-header__search {
    margin-left: 110px;
  }
}

@media screen and (min-width: 1580px) {
  .app-header__deliv-reg {
    margin-left: auto;
  }
}

@media screen and (min-width: 1840px) {
  .main-nav__items > li {
    margin-right: 49px;
  }
}

@media screen and (max-width: 1450px) {
  .product-text__section {
    padding: 0 40px 17px 40px;
  }
}

@media screen and (max-width: 1440px) {
  .sub-menu {
    width: 600px;
  }

  .sub-menu__items {
    -ms-flex: 1 1 280px;
        flex: 1 1 280px;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .sub-menu__product {
    margin-left: 0;
  }
}

@media screen and (max-width: 1365px) {
  .sub-menu {
    width: 280px;
  }

  .sub-menu__product {
    display: none;
  }
}

@media screen and (max-width: 1346px) {
  .app-footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .app-footer__item {
    width: 35%;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .app-footer__item--for-logo {
    margin-top: 0px;
    width: 25%;
  }

  .app-footer__item--for-logo .app-footer__info-site {
    display: none;
  }

  .app-footer__item--for-copy {
    width: 25%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .app-footer__item--for-copy .app-footer__info-site {
    display: block;
  }

  .added-preview {
    width: 150px;
  }

  .advantages-bottom__section {
    padding-right: 50px;
    padding-left: 50px;
  }

  .category-nav__head {
    padding-left: 35px;
  }

  .category-nav__menu {
    padding-left: 35px;
  }

  .filter__head {
    padding-left: 35px;
  }

  .filter__items {
    padding-left: 35px;
  }

  .links-shop__items a {
    margin-right: 20px;
  }

  .main-nav {
    width: 100%;
  }

  .main-nav--mobile {
    padding-left: 35px;
  }

  .pagination__body {
    width: 440px;
  }

  .personal-account__user {
    font-size: 0;
  }

  .personal-account__user .fa-user {
    margin-right: 3px;
  }

  .personal-account__sign-out {
    font-size: 0;
  }

  .product-text__body {
    padding: 65px 25px 70px 33px;
  }

  .sale--in-aside-left {
    padding-left: 35px;
    margin-bottom: 55px;
  }

  .sale--in-aside-left .sale__items {
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .sale--in-aside-left .sale__item {
    margin-bottom: 11px;
  }

  .sale--in-aside-left .sale__title {
    color: #000;
  }

  .sale--in-aside-left .sale__icon .svg-icon {
    fill: #000;
  }
}

@media screen and (max-width: 1023px) {
  .delivery-region-popup {
    top: 0;
    margin-top: 0;
  }

  .main-nav__items > li {
    margin-right: 35px;
  }

  .sub-menu {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .page-indent {
    padding-right: 28px;
    padding-left: 28px;
  }

  .mobile-hide {
    display: none;
  }

  .app-footer__item--border-mod {
    padding-left: 35px;
  }

  .app-header__btn-burger {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }

  .app__aside--left {
    display: none;
  }

  .advantages-bottom__section {
    padding-right: 28px;
    padding-left: 28px;
  }

  .advantages {
    padding-left: 5px;
    padding-right: 0;
  }

  .category-nav__head {
    padding-left: 28px;
  }

  .category-nav__menu {
    padding-left: 28px;
  }

  .filter__head {
    padding-left: 28px;
  }

  .filter__items {
    padding-left: 28px;
  }

  .links-shop__items a {
    margin-right: 30px;
  }

  .lot {
    width: 50%;
    min-width: 160px;
  }

  .main-nav--mobile {
    padding-left: 28px;
  }
}

@media screen and (max-width: 960px) {
  .pagination {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    display: none;
  }
}

@media screen and (max-width: 744px) {
  .app-footer__item {
    width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .lot__cart-btn {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .links-shop__items {
    display: -ms-flexbox;
    display: flex;
  }

  .links-shop__items .mob-mod {
    -ms-flex-order: 1;
        order: 1;
    margin-right: 0;
  }

  .links-shop__items a span {
    display: none;
  }
}

@media screen and (max-width: 596px) {
  .page-indent {
    padding-right: 16px;
    padding-left: 16px;
  }

  .advantages-bottom__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages-bottom__item--exchange-refund {
    width: 100%;
  }

  .before-content-block__section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .delivery-region-popup__section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .delivery-region-popup__automatic-date-linnk {
    font-size: 11px;
  }

  .delivery-region-popup__popular-cities li {
    width: 43%;
  }

  .links-shop__items a {
    margin-right: 20px;
  }

  .lot__body {
    padding: 10px 12px;
  }

  .product-text__section {
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;
  }

  .product-text__body {
    padding-right: 19px;
    padding-bottom: 40px;
    padding-left: 19px;
    top: -33px;
  }

  .search__input {
    width: 177px;
  }
}

@media screen and (max-width: 570px) {
  .delivery-region__title {
    display: none;
  }
}

@media screen and (max-width: 549px) {
  .lot__flag {
    font-size: 8px;
    padding: 4px 6px 4px;
    margin-right: 4px;
  }

  .lot__compare .jq-checkbox {
    padding-top: 2px;
  }

  .lot__compare {
    margin-right: 0px;
    margin-left: 5px;
  }

  .lot__compare .jq-checkbox__div:before {
    font-size: 10px;
  }

  .lot__favorites .jq-checkbox {
    padding-top: 2px;
  }

  .lot__favorites .jq-checkbox__div:before {
    font-size: 10px;
  }

  .lot__product-name {
    font-size: 10px;
  }

  .lot__options {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .lot__options {
    font-size: 9px;
  }

  .lot__option .fa-plane {
    font-size: 9px;
  }

  .lot__option--mod {
    text-align: left;
    margin-bottom: 0;
    -ms-flex-order: 1;
        order: 1;
  }

  .lot__option {
    width: auto;
  }

  .lot__link-photo {
    display: none;
  }

  .lot__price-to-cart {
    margin-top: 10px;
  }

  .lot__current-price {
    font-size: 11px;
  }

  .lot__current-price .fa-ruble-sign {
    font-size: 11px;
  }

  .lot__old-price {
    font-size: 10px;
  }

  .lot__old-price .fa-ruble-sign {
    font-size: 10px;
  }

  .lot__colors {
    left: auto;
    top: auto;
    bottom: 60px;
    right: 0;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 0;
  }

  .lot-mini__compare .jq-checkbox__div:before {
    font-size: 10px;
  }
}

@media screen and (max-width: 515px) {
  .app-footer__item--for-logo {
    padding-left: 35px;
  }

  .app-footer__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo--footer {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 14px;
  }

  .added-preview__item--compare .added-preview__body:before {
    margin-right: -60px;
  }

  .added-preview__item--compare .added-preview__body {
    width: 300px;
    top: 50%;
    right: 50%;
    margin-right: -90px;
  }

  .added-preview__body:before {
    right: 50%;
    margin-right: -15px;
  }

  .added-preview__body {
    width: 300px;
    top: 50%;
    right: 50%;
    margin-right: -140px;
  }

  .b-crumbs {
    margin-bottom: 15px;
  }

  .b-crumbs__items {
    font-size: 9px;
  }

  .b-crumbs__items span {
    font-size: 9px;
  }

  .b-crumbs__item {
    font-size: 9px;
  }

  .lot__color {
    width: 15px;
    height: 15px;
  }

  .pagination {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 17px;
  }

  .pagination__pages-links {
    font-size: 12px;
  }

  .pagination__pages-links a {
    font-size: 12px;
  }

  .pagination__more a {
    font-size: 10px;
  }

  .product-text__body {
    padding-top: 30px;
  }

  .product-text p {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .product-text__useful-information a {
    font-size: 11px;
  }

  .product-text__title-use-info {
    font-size: 11px;
  }

  h3 {
    font-size: 13px;
  }

  .category-links:before {
    top: 6px;
  }

  .sorting__title {
    font-size: 10px;
  }

  .sorting__selection .jq-selectbox {
    margin-top: 3px;
  }

  .sorting__selection .jq-selectbox__select {
    padding-right: 5px;
  }

  .sorting__selection .jq-selectbox__select {
    padding-left: 5px;
  }

  .sorting__selection .jq-selectbox__select-text {
    font-size: 10px;
  }

  .sorting__selection .jq-selectbox__trigger {
    width: 5px;
  }

  .sorting__selection .jq-selectbox__trigger-arrow {
    border-width: 3px 0 3px 4px;
  }

  .sorting__selection .jq-selectbox__dropdown li.sel:after,
  .sorting__selection .jq-selectbox__dropdown li.selected:after {
    top: 5px;
  }

  .sorting__selection .jq-selectbox__dropdown li {
    font-size: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 479px) {
  .app-header__deliv-reg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-order: 1;
        order: 1;
  }

  .app-header__for-filter-mob-btn {
    display: block;
  }

  .contacts-mobile {
    display: block;
  }

  .delivery-region {
    margin-bottom: 10px;
  }

  .filter {
    padding-bottom: 95px;
  }

  .filter__head {
    padding-left: 16px;
  }

  .filter__items {
    padding-left: 16px;
  }

  .sale--in-aside-left {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 440px) {
  .lot__product-img {
    height: 195px;
  }
}

@media screen and (max-width: 375px) {
  .app-header__for-preview {
    margin-left: 40px;
  }

  .links-shop__items a {
    font-size: 11px;
  }

  .logo {
    width: 90px;
  }

  .lot__product-img {
    height: 165px;
  }
}

@media screen and (max-width: 374px) {
  .cart-preview__body {
    width: 305px;
  }
}

@media screen and (max-width: 320px) {
  .lot__product-img {
    height: 135px;
  }
}