.category-nav
    margin-bottom 40px

    &__head
        padding 15px 20px 20px 62px
        background-color #f9f9f9
        margin-bottom 20px

        @media screen and (max-width 1346px)
            padding-left 35px

        @media screen and (max-width 991px)
            padding-left 28px

    &__title
        font-size 14px
        color #000
        font-weight 500
        text-transform uppercase

    &__menu
        padding-left 62px

        @media screen and (max-width 1346px)
            padding-left 35px

        @media screen and (max-width 991px)
            padding-left 28px    

        ul
            li 
                margin-bottom 20px
                font-size 0
                a
                    font-size 13px
                    color #6d6d6d
                    font-weight 500
                    line-height 1
                    text-transform uppercase
                    text-decoration none
                    padding-left 16px
                    position relative
                    transition color .3s
                    &:hover
                        color #6e0e24
                        &:before
                            border-color transparent transparent transparent #6e0e24      

                    &:before
                        content ''
                        position absolute
                        top 3px
                        left 0
                        width 0
                        height 0
                        border-style solid
                        border-width 5px 0 5px 6px
                        border-color transparent transparent transparent #6d6d6d
                        transition border-color .3s 

                    &.active-category
                        color #6e0e24    
                        &:before
                            border-color transparent transparent transparent #6e0e24


        .level-2
            padding 15px 0 0 15px

            li
                margin-bottom 10px
                a	
                    font-size 14px
                    text-transform inherit
                    padding-left 0
                    &:before
                        display none
        
        .level-3
            padding-top 10px
            padding-left 18px            