<div block="category-nav">
    <div elem="head">
        <div elem="title">Категории</div>
    </div><!-- e:head -->
    <nav elem="menu">
        <ul>
            <li><a href="#" class="active-category">все мужские сумки</a>
                <ul class="level-2">
                    <li><a href="#">Текстильные сумки</a></li>
                    <li><a href="#">Кожаные сумки</a></li>
                    <li><a href="#">Искусственная кожа</a>
                        <ul class="level-3">
                            <li><a href="#">Сумки с кошками</a></li>
                            <li><a href="#">Сумки с блестками</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Кейсы Beskin, Rion, Rosin</a></li>
            <li><a href="#">Сумки на пояс</a></li>
            <li><a href="#">С креплением на ремень</a></li>
            <li><a href="#">Сумки через плечо</a>
                <ul class="level-2">
                    <li><a href="#">Для гаджетов</a></li>
                    <li><a href="#">Кожаные</a></li>
                    <li><a href="#">Текстильные</a></li>
                    <li><a href="#">Маленькие сумки</a></li>
                    <li><a href="#">Для документов</a></li>
                </ul>
            </li>
            <li><a href="#">Портфели</a>
                <ul class="level-2">
                    <li><a href="#">Кожа</a></li>
                    <li><a href="#">Текстиль</a></li>
                </ul>
            </li>
            <li><a href="#">Деловые сумки А4</a></li>
            <li><a href="#">Для ноутбука</a></li>
            <li><a href="#">Сумки-планшеты А4</a></li>
                
        </ul>
    </nav><!-- e:menu -->
</div><!-- b:category-nav -->