<footer block="app-footer">
    <div elem="section" class="contain page-indent">
        <div elem="items">
            <div elem="item" mods="for-logo">
                {% include "logo-footer.html" %}
                <div elem="info-site">
                    <div elem="copy">&copy; Tasche.ru </div><!-- e:copy -->
                    <a elem="user-agreement" href="#">Пользовательское соглашение</a><!-- e:copy -->
                    <div elem="text">2011-2018. Интернет-магазин сумок</div><!-- e:text -->
                </div><!-- e:info-site -->
               
            </div><!-- e:item -->
            <div elem="item" mods="border-mod">
                {% include "for-customers.html" %}
            </div><!-- e:item -->
            <div elem="item" mods="border-mod">
                {% include "info-link.html" %}
            </div><!-- e:item -->
            <div elem="item" mods="for-copy">
                <div elem="info-site">
                    <div elem="copy">&copy; Tasche.ru </div><!-- e:copy -->
                    <a elem="user-agreement" href="#">Пользовательское соглашение</a><!-- e:copy -->
                    <div elem="text">2011-2018. Интернет-магазин сумок</div><!-- e:text -->
                </div><!-- e:info-site -->
            </div><!-- e:item -->
            <div elem="item" mods="border-mod">
                {% include "contacts-footer.html" %}
            </div><!-- e:item -->
            <div elem="item" mods="border-mod">
                {% include "payment.html" %}
                {% include "social.html" %}
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</footer><!-- b:app-footer -->
