.app-footer
    flex none
    background-color #000
    padding-top 26px
    padding-bottom 48px
    
    &__items
        font-size 11px
        color #dbdbdb
        font-weight 500
        line-height 1
        display flex
        justify-content space-between
        
        @media screen and (max-width 1346px)
            flex-wrap wrap

    &__item
        position relative

        @media screen and (max-width 1346px)
            width 35%
            margin-bottom 30px
            margin-top 20px

        &--for-logo
            @media screen and (max-width 1346px)
                margin-top 0px
                width 25%
                & ^[0]
                    &__info-site
                        display none   

            @media screen and (max-width 515px)
                padding-left 35px              

        &--for-copy
            @media screen and (max-width 1346px)
                width 25%
                align-self flex-end                
                & ^[0]
                    &__info-site
                        display block

            @media screen and (min-width 1347px)            
                display none
                
        &--border-mod
            padding-left 50px
            &:before
                content ''
                background-color rgb(255, 255, 255)
                opacity 0.6
                position absolute
                top 10px
                left 0
                width 1px
                height 111px    

            @media screen and (max-width 991px)
                padding-left 35px 

        @media screen and (max-width 744px)
            width 50%      

        @media screen and (max-width 515px)
            width 100% 
            margin-bottom 20px        
        
    &__copy
        margin-bottom 8px    

    &__user-agreement
        font-size 11px
        color #dbdbdb
        font-weight 500
        line-height 1
        margin-bottom 8px
        display inline-block
        vertical-align top
        &:hover
            text-decoration none
    