.contacts

    &__phones
        @media screen and (min-width 1346px)
            display flex  

    &__phone

        @media screen and (min-width 1346px)
            margin-right 28px
            &:last-child
                margin-right 0

        a
            font-size 16px
            font-weight 700
            color #000
            line-height 1
            text-decoration none 
            
            .fa-phone
                font-size 11px
                margin-right 7px
