<div block="contacts">
    <div elem="section">
        <div elem="phones">
            <div elem="phone">
                <a class="hover-link" href="tel:88007752574"><i class="fas fa-phone"></i>8 800 775 25 74</a>
            </div><!-- e:phone -->
            <div elem="phone">
                <a class="hover-link" href="tel:88007752574"><i class="fas fa-phone"></i>8 800 775 25 74</a>
            </div><!-- e:phone -->
        </div><!-- e:phones -->
    </div><!-- e:section -->
</div><!-- b:contacts -->