<div block="sale" mods="in-aside-left">
    <div elem="items">
        <a elem="item" href="#">
            <div elem="icon" mods="sale"><icon name="sale-icon" tag="i"></div>
            <div elem="title">Распродажа</div>
        </a><!-- e:item -->
        <a elem="item" href="#">
            <div elem="icon" mods="discounts"><icon name="discounts-icon" tag="i"></div>
            <div elem="title">скидки</div>
        </a><!-- e:item -->
    </div><!-- e:items -->
</div><!-- b:sale -->