.sale
    width 255px
    max-width 100%

    // @media screen and (max-width 1346px)
    //     display none

    &__items
        display flex
        align-items center
        justify-content space-between

    &__item
        display flex
        align-items center
        text-decoration none
        &:hover

            & ^[0]
                &__title
                    color #931431

                &__icon
                    .svg-icon     
                        fill #931431

    &__title
        font-size 13px
        color #fff
        font-weight 500
        line-height 1
        text-transform uppercase
        transition color .3s

    &__icon
        width 25px
        height 25px

        .svg-icon
            fill #fff
            transition fill .3s

        &--sale
            // background url('../img/sale-icon.png') 0 0 no-repeat
            margin-right 7px

        &--discounts
            // background url('../img/discounts-icon.png') 0 0 no-repeat
            margin-right 10px

    &--in-aside-left
        @media screen and (max-width 1346px)
            padding-left 35px
            margin-bottom 55px
            & ^[0]
                &__items
                    align-items flex-start
                    flex-direction column
                    
                &__item
                    margin-bottom 11px

                &__title
                    color #000

                &__icon
                    .svg-icon
                        fill #000    

        @media screen and (max-width 479px)
            margin-bottom 0