.links-shop

    &__items
        
        @media screen and (max-width 639px)
            display flex

        .mob-mod
            @media screen and (max-width 639px)    
                order 1
                margin-right 0
        a
            font-size 13px
            font-weight 500
            color #000
            line-height 1
            text-decoration none
            margin-right 50px
            transition color .3s

            @media screen and (max-width 1346px)
                margin-right 20px

            @media screen and (max-width 991px)
                margin-right 30px    

            @media screen and (max-width 596px)    
                margin-right 20px

            @media screen and (max-width 375px)
                font-size 11px    

            span
                color #6d6d6d
                margin-left 5px

                @media screen and (max-width 639px)
                    display none