<div block="links-shop">
    <div elem="items">
        <a href="#" class="hover-link mobile-hide">Оптовым клиентам </a>
        <a href="#" class="hover-link mob-mod">Магазин в Москве<span>(Пн–Пт: 10 <sup>00</sup> – 19<sup>00</sup>)</span></a>
        <a href="#" class="hover-link">Доставка</a>
        <a href="#" class="hover-link mobile-hide">Оплата</a>
        <a href="#" class="hover-link mobile-hide">Гарантия и возврат</a>
    </div><!-- e:items -->
</div><!-- b:links-shop -->