.for-customers

    &__title
        font-family 12px
        font-weight 500
        color #fff
        text-transform uppercase
        margin-bottom 15px

    &__list
        list-style none
        padding-left 0
        margin-bottom 0

        li
            margin-bottom 10px
            a
                font-size 11px
                color #b8b8b8
                font-weight 500
                line-height 1
                text-decoration none
                transition color .3s
                &:hover
                    color #fff
