<div block="for-customers">
    <div elem="title">Для клиентов</div>
    <ul elem="list">
        <li><a href="#">Как оформить заказ</a></li>
        <li><a href="#">Доставка и самовывоз</a></li>
        <li><a href="#">Гарантия и возврат</a></li>
        <li><a href="#">Магазин в Москве (Пн–Пт: 1000 – 1900)</a></li>
        <li><a href="#">Оптовым клиентам</a></li>
    </ul>
</div><!-- b:for-customers -->