<div block="advantages-bottom">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="icon" mods="free-delivery"><icon name="advantages-icon" tag="i"></div>
                <div elem="title">Бесплатная <br> доставка</div>
            </div><!-- e:item -->
            <div elem="item">
                <div elem="icon" mods="ex"><icon name="advantages-icon2" tag="i"></div>
                <div elem="title">200 пунктов <br> самовывоза</div>
            </div><!-- e:item -->
            <div elem="item" mods="exchange-refund">
                <div elem="icon" mods="exchange-refund"><icon name="advantages-icon3" tag="i"></div>
                <div elem="title">100% обмен <br> или возврат </div>
            </div><!-- e:item -->
            <div elem="item">
                <div elem="icon" mods="delivery-choose"><icon name="advantages-icon4" tag="i"></div>
                <div elem="title">Доставка <br> на выбор</div>
            </div><!-- e:item -->
            <div elem="item">
                <div elem="icon" mods="special-delivery"><icon name="advantages-icon5" tag="i"></div>
                <div elem="title">Срочная <br> доставка</div>
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:advantages-bottom -->