.advantages-bottom
    background-color #931431

    &__section
        padding 30px 140px

        @media screen and (max-width 1346px)
            padding-right 50px
            padding-left 50px

        @media screen and (max-width 991px)
            padding-right 28px
            padding-left 28px    

    &__items
        width 1280px
        max-width 100%
        margin 0 auto
        display flex
        justify-content space-between

        @media screen and (max-width 596px)
            flex-wrap wrap

    &__item
        text-align center   

        &--exchange-refund

            @media screen and (max-width 596px)
                width 100%

    &__icon
        margin-bottom 10px
        margin-right auto
        margin-left auto

        .svg-icon
            fill #fff

        &--free-delivery
            width 38px
            height 24px

            .svg-icon--advantages-icon
                width 38px
                height 24px

        &--ex
            width 24px
            height 24px
            
            .svg-icon--advantages-icon2
                width 24px
                height 24px

        &--exchange-refund
            width 24px
            height 24px

            .svg-icon--advantages-icon3
                width 24px
                height 24px

        &--delivery-choose
            width 27px
            height 25px

            .svg-icon--advantages-icon4
                width 27px
                height 25px

        &--special-delivery
            width 24px
            height 24px
            
            .svg-icon--advantages-icon5
                width 24px
                height 24px 

    &__title
        font-size 15px
        color #fff
        font-weight 400
        line-height 1.1     