.product-text

    &__section
        background-color #f9f9f9
        padding 0 140px 17px 140px
        margin-top 73px

        @media screen and (max-width 1450px)
            padding 0 40px 17px 40px

        @media screen and (max-width 596px)
            padding-right 16px
            padding-bottom 20px
            padding-left 16px


    &__body
        background #f1f1f1    
        padding 65px 58px 70px 100px
        position relative
        top -73px

        @media screen and (max-width 1346px)
            padding 65px 25px 70px 33px

        @media screen and (max-width 596px)
            padding-right 19px
            padding-bottom 40px
            padding-left 19px
            top -33px  

        @media screen and (max-width 480px)
            padding-top 30px    

    p
        font-size 15px
        color #000
        font-weight 400
        line-height 1.7
        margin-bottom 20px

        @media screen and (max-width 480px)
            font-size 11px
            margin-bottom 20px

    &__useful-information
        a
            font-size 15px
            color #931431
            text-decoration none

            @media screen and (max-width 480px)
                font-size 11px
    
    &__title-use-info
        font-size 14px
        color #000
        font-weight 700
        text-transform uppercase    
        margin-bottom 20px

        @media screen and (max-width 480px)
            font-size 11px

h3
    font-size 19px
    color #000
    font-weight 700
    text-transform uppercase
    margin-bottom 15px

    @media screen and (max-width 480px)
        font-size 13px

.is-category-links
    padding-left 18px

.category-links
    font-size 15px
    color #931431
    text-decoration none
    position relative
    &:before
        content ''
        position absolute
        top 3px
        left -18px
        width 0
        height 0
        border-style solid
        border-width 5px 0 5px 6px
        border-color transparent transparent transparent #931431
        transition border-color .3s 

        @media screen and (max-width 480px)
            top 6px