<div block="personal-account">
    <div elem="section">
        <a elem="user" class="hover-link" href="#"><i class="fas fa-user"></i>Личный кабинет</a>
        /
        <a elem="sign-out" class="hover-link" href="#"><i class="fas fa-sign-out-alt"></i>Выход</a>
    </div><!-- e:section -->
</div><!-- b:personal-account -->