.personal-account
    margin-top 4px
    
    &__section
        font-size 13px
        color #6d6d6d

        a
            text-decoration none

    &__user
        color #000

        @media screen and (max-width 1346px)
            font-size 0

        .fa-user
            font-size 13px
            color #000
            margin-right 7px

            @media screen and (max-width 1346px)
                margin-right 3px

        &:hover
            .fa-user
                color #931431        


    &__sign-out
        font-size 13px
        color #6d6d6d
        &:hover
            color #6d6d6d !important

        @media screen and (max-width 1346px)
            font-size 0

        .fa-sign-out-alt
            font-size 13px
            color #6d6d6d
            margin-left 3px

            @media screen and (min-width 1347px)
                font-size 0