.logo
    width 137px

    @media screen and (max-width 375px)
        width 90px
        
    &__img
        text-decoration none
        color #000000
        img
            max-width 100%
            margin-bottom 3px

    &__desc
        font-size 9.4px
        line-height 1
        font-weight 700
        display block
        padding-left 7px

    &--footer
        margin-bottom 30px
        & ^[0]
            &__desc
                color #fff
        
        @media screen and (max-width 515px)
            margin-bottom 0        
