.lot
    min-width 340px
    width 25%
    border 1px solid #f1f1f1
    transition box-shadow .3s
    position relative
    &:hover
        box-shadow 1.286px 1.532px 6.58px 0.42px rgba(0, 0, 0, 0.13)
        & ^[0]
            &__colors
                opacity 1

    @media screen and (max-width 991px)
        width 50%    
        min-width 160px        

    &__body
        display flex
        flex-direction column
        padding 27px 31px 31px 31px

        @media screen and (max-width 596px)
            padding 10px 12px
    
    &__top
        flex 1 1 auto        

    &__head
        display flex
        align-items center
        justify-content space-between 
        margin-bottom 10px

    &__flags
        display flex

    &__flag
        font-size 13px
        color #fff
        font-weight 700
        text-transform uppercase
        line-height 1
        padding 8px 15px 9px
        margin-right 5px

        &--hit
            background-color #708cdb
        &--new
            background-color #8fcfd3
        &--sale
            background-color #a06a76

        @media screen and (max-width 549px)
            font-size 8px
            padding 4px 6px 4px
            margin-right 4px

    &__favorites-compare
        display flex
        align-items center
        justify-content space-between

    &__compare
        width 16px
        height 14px
        margin-right 17px

        .jq-checkbox
            width 16px
            height 14px
            min-width auto
            border none

            @media screen and (max-width 549px)
                padding-top 2px

        @media screen and (max-width 549px)
            margin-right 0px
            margin-left 5px        

        .jq-checkbox__div
            position relative
            &:before
                content '\f03a'
                font-family 'Font Awesome 5 Free'
                font-size 16px
                font-weight 900
                color #dadada  
                line-height 1
                position absolute  
                top 0
                left 0
                transition color .3s

                @media screen and (max-width 549px)
                    font-size 10px

            &:hover
                &:before
                    color #000     

        .jq-checkbox.checked
            .jq-checkbox__div
                width auto
                height auto
                margin 0
                border none
                transform none
                &:before
                    color #000

    &__favorites
        width 16px
        height 14px

        .jq-checkbox
            width 16px
            height 14px
            border none
            margin-right 0

            @media screen and (max-width 549px)
                padding-top 2px	

        .jq-checkbox__div
            position relative
            &:before
                content '\f004'
                font-family 'Font Awesome 5 Free'
                font-size 16px
                font-weight 900
                color #dadada  
                line-height 1
                position absolute  
                top 0
                left 0
                transition color .3s

                @media screen and (max-width 549px)
                    font-size 10px

            &:hover
                &:before
                    color #931431    

        .jq-checkbox.checked
            .jq-checkbox__div
                width auto
                height auto
                margin 0
                border none
                transform none
                &:before
                    color #931431
    
    &__product-img
        font-size 0              
        text-decoration none  
        display block
        display flex
        justify-content center
        align-items center
        width 225px
        max-width 100%
        height 225px
        margin-left auto
        margin-right auto

        @media screen and (max-width 440px)    
            height 195px

        @media screen and (max-width 375px)    
            height 165px

        @media screen and (max-width 320px)
            height 135px
            
    &__img
        font-size 0    

        img 
            max-width 100%


    &__product-name
        font-size 15px
        color #000
        font-weight 700
        text-transform uppercase
        text-decoration none
        line-height 1.3    
        display inline-block
        vertical-align top
        margin-bottom 10px     

        @media screen and (max-width 549px)
            font-size 10px


    &__options
        font-size 13px
        color #6d6d6d
        line-height 1
        display flex
        flex-wrap wrap
        justify-content space-between

        @media screen and (max-width 549px)
            flex-direction column
        
        @media screen and (max-width 549px)
            font-size 9px

    &__option
        width 50%
        margin-bottom 5px
        .fa-plane
            font-size 13px
            color #1c3284
            margin-left 7px

            @media screen and (max-width 549px)
                font-size 9px

        &--mod
            text-align right

            @media screen and (max-width 549px)
                text-align left
                margin-bottom 0
                order 1

        @media screen and (max-width 549px)
            width auto       

    &__link-photo
        font-size 13px
        color #6d6d6d
        font-weight 500
        text-decoration none
        text-transform uppercase

        .fa-expand-arrows-alt
            margin-top 5px
            margin-left 7px

        @media screen and (max-width 549px)
            display none

    &__price-to-cart
        display flex        
        align-items baseline

        @media screen and (max-width 549px)
            margin-top 10px

    &__current-price
        font-size 18px
        font-weight 700
        color #931431   
        margin-right 20px

        @media screen and (max-width 549px)
            font-size 11px

        .fa-ruble-sign
            font-size 14px 
            margin-left 2px
            
            @media screen and (max-width 549px)
                font-size 11px

    &__old-price
        font-size 16px
        color #000
        font-weight 500
        text-decoration line-through 

        @media screen and (max-width 549px)
            font-size 10px       

        .fa-ruble-sign
            font-size 14px 
            margin-left 2px

            @media screen and (max-width 549px)
                font-size 10px

    &__cart-btn
        font-size 12px
        color #fff
        font-weight 500
        line-height 1
        text-transform uppercase
        background-color #931431
        border none
        border-radius 2px
        min-width 113px
        padding-top 11px
        padding-bottom 11px     
        margin-left auto
        cursor pointer   
        transition background-color .3s
        &:hover
            background-color #6e0e24

        .fa-shopping-cart
            margin-left 3px

        @media screen and (max-width 651px)
            display none    

    &__colors
        position absolute
        top 50%
        left 30px
        margin-top -90px
        display flex
        flex-direction column
        opacity 0
        transition opacity .3s

        @media screen and (max-width 549px)
            left auto
            top auto
            bottom 60px
            right 0
            flex-direction row
            margin-top 0

    &__color
        width 20px
        height 20px
        margin-bottom 3px
        border 1px solid transparent
        padding 1px
        transition border .3s
        span
            width 100%
            height 100%
            display block   

        &:hover
            border 1px solid #6d6d6d  
        
        &.active-color
            border 1px solid #6d6d6d

        @media screen and (max-width 480px)
            width 15px
            height 15px
        