<div block="lot">
    <form elem="form" action="">
        <div elem="body">
            <div elem="top">
                <div elem="head">
                    <div elem="flags">
                        <div elem="flag" mods="hit">Hit</div>
                        <div elem="flag" mods="new">new</div>
                        <div elem="flag" mods="sale">-10%</div>
                    </div><!-- e:flags -->
                    <div elem="favorites-compare">
                        <div elem="compare">
                            <input type="checkbox" name="" id="">
                        </div><!-- e: -->
                        <div elem="favorites">
                            <input type="checkbox" name="" id="">
                        </div><!-- e: -->
                    </div><!-- e:favorites-compare -->
                </div><!-- e:head -->
                <a elem="product-img" href="#"><span elem="img"><img src="img/lot-img.jpg" alt=""></span></a>
                <a elem="product-name" class="hover-link" href="#">Сумка на плечо с креплением на ремень POLA 4221 Brown</a>
            </div><!-- e:top -->
            <div elem="bot">
                <div elem="options">
                    <div elem="option">27 х 34 х 15(17)см</div>
                    <div elem="option" mods="mod">Ручная кладь<i class="fas fa-plane"></i></div>
                    <div elem="option">1,2 кг</div>
                    <div elem="option" mods="mod"><a elem="link-photo" class="hover-link" href="#">6 фото <i class="fas fa-expand-arrows-alt"></i></a></div>
                    <div elem="option">Полиэстер</div>
                </div><!-- e:options -->
                <div elem="price-to-cart">
                    <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                    <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                    <button elem="cart-btn" type="submit">В корзину <i class="fas fa-shopping-cart"></i></button>
                </div><!-- e:price -->
            </div><!-- e:bot -->
        </div><!-- e:body -->
        <div elem="colors">
            <div elem="color"><span style="background-color: #2579bf;"></span></div><!-- e:color -->
            <div elem="color"><span style="background-color: #6f6f6f;"></span></div><!-- e:color -->
            <div elem="color"><span style="background-color: #9dd298;"></span></div><!-- e:color -->
            <div elem="color"><span style="background-color: #8e58a3;"></span></div><!-- e:color -->
            <div elem="color"><span style="background-color: #fff794;"></span></div><!-- e:color -->
            <div elem="color" class="active-color"><span style="background-color: #000000;"></span></div><!-- e:color -->
        </div><!-- e:colors -->
    </form><!-- e:form -->
</div><!-- b:lot -->