.pagination
    padding-right 30px
    margin-top 35px
    margin-bottom 170px

    @media screen and (max-width 960px)
        margin-bottom 100px

    @media screen and (max-width 480px)
        padding-right 16px
        padding-left 16px
        margin-top 17px    
    
    &__body
        width 615px
        max-width 100%
        display flex
        align-items baseline
        justify-content space-between
        margin-left auto

        @media screen and (max-width 1346px)
            width 440px

    &__pages-links
        font-size 17px
        color #6d6d6d
        font-weight 500

        @media screen and (max-width 480px)
            font-size 12px

        span
            margin-left -5px
            margin-right 5px

        a
            font-size 17px
            color #6d6d6d
            font-weight 500
            text-decoration none
            margin-right 15px
            transition color .3s
            &:hover
                color #931431

            &.active-page
                color #931431
                cursor default 

            @media screen and (max-width 480px)
                font-size 12px    

    &__more
        a
            font-size 14px
            color #6d6d6d
            font-weight 500
            text-transform uppercase
            text-decoration none  
            transition color .3s
            &:hover
                color #931431 

            @media screen and (max-width 480px)
                font-size 10px         
