<div block="pagination">
    <div elem="section" class="contain">
    <div elem="body">
        <div elem="pages-links">
            <a class="active-page" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <span>...</span>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="next-step"><i class="fas fa-angle-right"></i></a>
        </div><!-- e:pages-links -->
        <div elem="more"><a href="#">Показать еще 20</a></div><!-- e:more -->
    </div><!-- e:body -->
    </div><!-- e:section -->
</div><!-- b:pagination  -->