html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

body
    position relative

.app
    
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

    &__aside
        
        &--left
            order -1
            flex : 0 0 300px
            border-right 1px solid #f1f1f1
            
            @media screen and (max-width 991px)
                display none
            
        &--right
            flex : 0 0 300px

    &__aside-section
        background-color #fff