.search

    &__input
        width 221px
        max-width 100%
        display flex
        align-items center
        position relative

        @media screen and (max-width 596px)
            width 177px
        
        input[type="text"]
            font-size 12px
            color #6d6d6d
            font-weight 500
            line-height 1
            width 100%
            border none
            background-color #fff
            padding 7px 35px 9px 15px

        ::-webkit-input-placeholder 
            font-size 12px
            color #6d6d6d
            font-weight 500

        ::-moz-placeholder
            font-size 12px
            color #6d6d6d
            font-weight 500

        :-moz-placeholder
            font-size 12px
            color #6d6d6d
            font-weight 500

        :-ms-input-placeholder
            font-size 12px
            color #6d6d6d
            font-weight 500    

    &__btn
        padding 0
        background none
        border none
        cursor pointer
        position absolute
        top 0
        right 16px

        .fas.fa-search
            font-size 12px
            color #6d6d6d
            transition color .3s
            &:hover
                color #000