<div block="search">
    <form elem="form" action="">
        <div elem="input">
            <input type="text" id="" name="" placeholder="Поиск...">
            <button elem="btn" type="submit"><i class="fas fa-search"></i></button>
        </div><!-- e:input -->
    </form><!-- e:form -->
</div><!-- b:search -->