.added-preview
    width 165px
    max-width 100%

    @media screen and (max-width 1346px)
        width 150px

    &__section
        display flex
        align-items center
        justify-content space-between

    &__item
        position relative
        transition color .3s
        &:hover
             & ^[0]
                &__body
                    opacity 1
                    visibility visible
                    z-index 10  

                &__count
                    color #000      

        &--compare
            & ^[0]
                &__body
                    &:before
                        @media screen and (max-width 480px)
                            margin-right -60px
                    @media screen and (max-width 480px)
                        width 300px
                        top 50%
                        right 50%
                        margin-right -90px        

    &__favorites
        color #6c6c6c
        font-weight 400
        text-decoration none
        cursor pointer
        .fa-heart
            font-size 13px
            color #931431
            margin-right 5px
    
    &__body
        width 351px
        position absolute
        top 50%
        right 0
        margin-top 25px
        background-color #f9f9f9
        box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0, 0, 0, 0.13)
        padding 17px 42px 20px 30px
        z-index -10
        opacity 0
        visibility hidden
        transition all .3s ease .15s
        &:before
            content ''
            position absolute
            top -13px
            right 13px
            width 0
            height 0
            border-style solid
            border-width 0 7.5px 13px 7.5px
            border-color transparent transparent #f9f9f9 transparent
            
            @media screen and (max-width 480px)
                right 50%
                margin-right -15px

        @media screen and (max-width 480px)
            width 300px
            top 50%
            right 50%
            margin-right -140px

    &__item-product
        display flex
        padding-top 17px
        padding-bottom 17px
        border-bottom 1px solid #cfcfcf 

    &__product-img
        width 78px
        height auto
        flex 1 0 auto
        margin-right 19px
        display flex
        justify-content center
        align-items center

        a
            font-size 0
            text-decoration none
            display block

            img
                max-width 100%

    &__product-name
        font-size 13px
        color #6c6c6c                        
        font-weight 500
        text-decoration none
        text-transform uppercase
        line-height 1.5
        display block
        margin-bottom 20px

    &__price
        display flex
        align-items baseline
        font-size 13px

        .fa-ruble-sign
            font-size 11px

    &__old-price
        
        color #6c6c6c
        font-weight 500
        text-decoration line-through
        margin-right 15px    

    &__current-price
        color #931431
        font-weight 700              

    &__count
        font-size 13px
        color #6c6c6c
        line-height 1

    &__btn
        font-size 12px
        color #fff
        font-weight 500
        line-height 1
        text-decoration none
        text-transform uppercase
        text-align center
        background-color #931431
        border none
        border-radius 2px
        display block
        max-width 100%
        padding-top 11px
        padding-bottom 11px    
        margin-top 7px 
        margin-left auto
        cursor pointer   
        transition background-color .3s
        &:hover
            background-color #6e0e24    

    &__compare
        text-decoration none
        color #6c6c6c
        .fa-list
            font-size 13px
            color #000
            margin-right 5px

.cart-preview
    position relative

    &:hover
        > .cart-preview__body
            opacity 1
            visibility visible
            z-index 10
                
    &__icon
        font-size 14px
        color #fff
        display flex
        align-items center
        padding-left 9px
        padding-right 12px
        transition background-color .3s
        height 50px
        cursor pointer
        background-color #931431 
        &:hover
            background-color #6e0e24

        .fa-shopping-cart
            font-size 13px
            color #fff
            margin-right 5px

    &__count
        font-size 13px
        color #fff
        font-weight 500

    &__body
        width 351px
        position absolute
        top 50%
        right 0
        margin-top 25px
        background-color #f9f9f9
        box-shadow 1.928px 2.298px 6.51px 0.49px rgba(0, 0, 0, 0.13)
        padding 17px 42px 20px 30px
        z-index -10
        opacity 0
        visibility hidden
        transition all .3s ease .15s
        &:before
            content ''
            position absolute
            top -13px
            right 13px
            width 0
            height 0
            border-style solid
            border-width 0 7.5px 13px 7.5px
            border-color transparent transparent #f9f9f9 transparent

        // &--show
        //     opacity 1
        //     z-index 10

        @media screen and (max-width 374px)
            width 305px


    &__head
        display flex
        justify-content center
        padding-bottom 7px
        border-bottom 1px solid #cfcfcf 

    &__count-product
        font-size 13px
        color #000
        font-weight 700
        line-height 1
        text-align right
        padding-right 25px
        padding-top 6px
        padding-bottom 6px
        border-right 1px solid #cfcfcf

    &__total-summ
        font-size 13px
        color #000
        font-weight 700
        line-height 1
        padding-left 25px
        padding-top 6px
        padding-bottom 6px

        .fa-ruble-sign
            font-size 11px

    &__item
        display flex
        padding-top 17px
        padding-bottom 17px
        border-bottom 1px solid #cfcfcf 

    &__product-img
        width 78px
        height auto
        flex 1 0 auto
        margin-right 19px
        display flex
        justify-content center
        align-items center

        a
            font-size 0
            text-decoration none
            display block

            img
                max-width 100%

    &__product-name
        font-size 13px
        color #6c6c6c                        
        font-weight 500
        text-decoration none
        text-transform uppercase
        line-height 1.5
        display block
        margin-bottom 20px

    &__price
        display flex
        align-items baseline
        font-size 13px

        .fa-ruble-sign
            font-size 11px

    &__old-price
        
        color #6c6c6c
        font-weight 500
        text-decoration line-through
        margin-right 15px    

    &__current-price
        color #931431
        font-weight 700

    &__btn
        font-size 12px
        color #fff
        font-weight 500
        line-height 1
        text-decoration none
        text-transform uppercase
        text-align center
        background-color #931431
        border none
        border-radius 2px
        display block
        max-width 100%
        padding-top 11px
        padding-bottom 11px    
        margin-top 7px 
        margin-left auto
        cursor pointer   
        transition background-color .3s
        &:hover
            background-color #6e0e24

        .fa-shopping-cart
            margin-left 3px    