<div block="added-preview">
    <div elem="section">
        <div elem="item">
            <div elem="favorites"><i class="fas fa-heart"></i><span elem="count">3</span></div>
            <div elem="body">
                <div elem="item-product">
                    <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                        <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                        <div elem="price">
                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                        </div><!-- e:price -->
                    </div><!-- e:product-info -->
                </div>
                <div elem="item-product">
                    <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                        <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                        <div elem="price">
                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                        </div><!-- e:price -->
                    </div><!-- e:product-info -->
                </div>
                <div elem="item-product">
                    <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                        <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                        <div elem="price">
                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                        </div><!-- e:price -->
                    </div><!-- e:product-info -->
                </div>
                <a elem="btn" href="#">Перейти на страницу избранное</a>
            </div><!-- e:body -->
        </div><!-- e:item -->

        <div elem="item" mods="compare">
            <a elem="compare" href="#"><i class="fas fa-list"></i><span elem="count">0</span></a>
            <div elem="body">
                <div elem="item-product">
                    <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                        <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                        <div elem="price">
                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                        </div><!-- e:price -->
                    </div><!-- e:product-info -->
                </div>
                <div elem="item-product">
                    <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                        <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                        <div elem="price">
                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                        </div><!-- e:price -->
                    </div><!-- e:product-info -->
                </div>
                <div elem="item-product">
                    <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                        <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                        <div elem="price">
                            <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                            <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                        </div><!-- e:price -->
                    </div><!-- e:product-info -->
                </div>
                <a elem="btn" href="#">Перейти на страницу сравнения</a>
            </div><!-- e:body -->
        </div><!-- e:item -->
        <div block="cart-preview">
            <div elem="icon">
                <i class="fas fa-shopping-cart"></i>
                <div elem="count">0</div>
            </div><!-- e:icon -->
            <div elem="body">
                <div elem="head">
                    <div elem="count-product">2 товара</div>
                    <div elem="total-summ">4910 <i class="fas fa-ruble-sign"></i></div>
                </div><!-- e:head-cart -->
                <div elem="items">
                    <div elem="item">
                        <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                            <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                            <div elem="price">
                                <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                                <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                            </div><!-- e:price -->
                        </div><!-- e:product-info -->
                    </div><!-- e:item -->

                    <div elem="item">
                        <div elem="product-img"><a href="#"><img src="img/lot-img.jpg" alt=""></a></div>
                        <div elem="product-info">
                            <a elem="product-name" class="hover-link" href="#">Кейс раздвижной BESKIN 112501</a>
                            <div elem="price">
                                <div elem="old-price">2 728 <i class="fas fa-ruble-sign"></i></div>
                                <div elem="current-price">2 455 <i class="fas fa-ruble-sign"></i></div>
                            </div><!-- e:price -->
                        </div><!-- e:product-info -->
                    </div><!-- e:item -->
                </div><!-- e:items -->

                <a elem="btn" href="#">Перейти в корзину<i class="fas fa-shopping-cart"></i></a>
            </div><!-- e:body -->
        </div><!-- e:cart -->

    </div><!-- e:section -->
</div><!-- b:added-preview -->